
{% if settings.enable_rtl %}
$dir: rtl !default;
{% else %}
$dir: ltr !default;
{% endif %}


// Default $dir if not valid
@if $dir != ltr and $dir != rtl {
  $dir: ltr;
}
@function if-ltr($if, $else: null) {
  @if $dir != rtl {
    @return $if;
  }
  @else {
    @return $else;
  }
}
@function if-rtl($if, $else: null) {
  @return if-ltr($else, $if);
}
$left: if-ltr(left, right);
$right: if-ltr(right, left);

@function side-values($values) {
  @if $dir == rtl and length($values) >= 4 {
    @return nth($values, 1) nth($values, 4) nth($values, 3) nth($values, 2);
  }
  @else {
    @return $values;
  }
}
@function corner-values($values) {
  @if $dir == rtl and length($values) > 1 {
    @if length($values) == 2 {
      @return nth($values, 2) nth($values, 1);
    }
    @else if length($values) == 3 {
      @return nth($values, 2) nth($values, 1) nth($values, 2) nth($values, 3);
    }
    @else {
      @return nth($values, 2) nth($values, 1) nth($values, 4) nth($values, 3);
    }
  }
  @else {
    @return $values;
  }
}
@mixin if-ltr { 
  @if $dir != rtl {
    @content;
  }
}
@mixin if-rtl {
  @if $dir == rtl {
    @content;
  }
}
$main-color: {{ settings.color_base }};

@media (min-width: 1200px) and (max-width: 1650px){
  .header.header-style1 .minilink-header li.txt-oder{
    padding: 0;
    margin: 0;
    &:after{ display: none;}
  }
  .header.header-style1 .minilink-header li.ct_login,
  .header.header-style1 .minilink-header li.login,
  .header.header-style1 .minilink-header li.regis{
    display: none;
  }
  .template-index{
    .menu-left,
    .main-left{
      max-width: 21%; 
      -webkit-box-flex: 0;
      -ms-flex: 0 0 21%;
      flex: 0 0 21%;
    }
    .home-slide,
    .main-right{
      max-width: 79%; 
      -webkit-box-flex: 0;
      -ms-flex: 0 0 79%;
      flex: 0 0 79%;
    }
    .tp-banner-container{
      height: auto!important; 
    }
  }
  .template-product .positon-sidebar,
  .template-collection .positon-sidebar{
    .col-sidebar{
      max-width: 21%!important; 
      -webkit-box-flex: 0!important;
      -ms-flex: 0 0 21%!important;
      flex: 0 0 21%!important;
    }
    .col-main{
      max-width: 79%!important; 
      -webkit-box-flex: 0!important;
      -ms-flex: 0 0 79%!important;
      flex: 0 0 79%!important;
    }
  }
  .template-article .positon-sidebar,
  .template-blog .positon-sidebar{
    .col-sidebar{
      max-width: 21%!important; 
      -webkit-box-flex: 0!important;
      -ms-flex: 0 0 21%!important;
      flex: 0 0 21%!important;
    }
    .col-main{
      max-width: 79%!important; 
      -webkit-box-flex: 0!important;
      -ms-flex: 0 0 79%!important;
      flex: 0 0 79%!important;
    }
  }
  .header-bottom{
    .vertical_menu{
      max-width: 21%; 
      max-width: 21%!important; 
      -webkit-box-flex: 0!important;
      -ms-flex: 0 0 21%!important;
      flex: 0 0 21%!important;
    }
    .header-search{
      max-width: 49%; 
      max-width: 49%!important; 
      -webkit-box-flex: 0!important;
      -ms-flex: 0 0 49%!important;
      flex: 0 0 49%!important;
    }
    .header-sub{
      max-width: 30%; 
      max-width: 30%!important; 
      -webkit-box-flex: 0!important;
      -ms-flex: 0 0 30%!important;
      flex: 0 0 30%!important; 
    }
  }
  #shopify-section-left-banner3{
    display: none; 
  }
  .widget-listingtab.style2 .ltabs-items-container .ltabs-items .ltabs-slider .ltabs-item.ltabs-item_first .product-item-container .right-block{
    padding: 33px 20px 30px 20px;
  }
  .left-product-carousel .product-item {
    margin-bottom: 10px;
  }
  footer .footer-1 .socials-wraps li a span{
    display: none; 
  }
  .widget-product-carousel .product-item .product-img {
    width: 110px;
  }
  .widget-product-carousel .product-item .product-info {
    margin-#{$left}: 130px;
  }
  footer{
    .footer-1 .footer-top {
      padding: 30px 0;
    }
  }
}

@media (min-width:1200px){
  .col-xl-15{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; 
  }
  body .container {
    max-width: 1650px;
    padding: 0;
    width: 93%;
  }

  .template-list-collections{
    .collection-img img{
      width: 100%; 
    }
  }
  .template-article .positon-sidebar,
  .template-blog .positon-sidebar{
    .col-sidebar{
      max-width: 16.66667%;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
      flex: 0 0 16.66667%;
    }
    .col-main{
      max-width: 83.33333%; 
      -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
      flex: 0 0 83.33333%;
    }
  }
  .template-product .positon-sidebar,
  .template-collection .positon-sidebar{
    .col-sidebar{
      max-width: 16.66667%;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
      flex: 0 0 16.66667%;
    }
    .col-main{
      max-width: 83.33333%; 
      -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
      flex: 0 0 83.33333%;
    }
  }
}

@media (max-width:1199px) and (min-width:992px) {
  //Header
  header.header-style1 .minilink-header li.txt-phone,
  .header.header-style1 .minilink-header li.txt-oder{
    display: none;
  }
  //Home
  .tp-banner-container{
    .tp-caption-slide-1 {
      font-size: 14px!important;
    }
    .tp-caption-slide-2 {
      font-size: 24px!important;
    }
  }
  #shopify-section-ss-vertical-menu .vertical-item.level1>a.menu-link{padding: 10px 0;}
  .widget-logolist .wrap {
    padding: 20px;
  }
  .main-left .col-1{
    min-height: 310px;
    margin: 0 0 30px;
  }
  .widget-slideshow .col_3 .b-img {
    margin-bottom: 24px;
  }
  .home-section>div{
    margin-bottom: 30px; 
  }
  //Footer
  footer{
    .footer-1 .footer-menu {
      padding: 30px 0 20px;
      margin-top: 10px;
    }
    .footer-1 .footer-center {
      padding: 30px 0 30px;
    }
    .footer-1 .footer-block.footer-about ul li{
      line-height: 15px; 
    }
    .footer-1 .footer-top {
      padding: 25px 0;
    }
    .footer-1 .footer-newsletter .title-block{
      width: 52%; 
    }
    .footer-1 .socials-wraps li a span{ display: none;}
    .footer-1 .footer-newsletter .footer-block-content {
      width: 48%;
    }
    .news-letter{
      width: 80%;
    }
    .socials-wraps{
      width: 20%; 
    }
  }
  .sidebar-html .services-sidebar li .service-content {
    padding: 20px 10px;
  }
  .product-single .detail-bottom {
    margin: 20px 0 40px;
  }
}

@media(max-width: 1200px) {
  .tp-banner-container{
    height: auto!important;
  }
  .quickview-button{
    display: none!important; 
  }
  //about page
  .image-about-us{
    img{
      width: 100%; 
    }
    margin-bottom: 20px;
  }

  .view-all{
    margin-top: 10px;
  }
  //policy
  .widget-services .bg-policy .policy .info{
    margin: 0 0 0 4px;
  }
  //home-bog
  .widget-blogs .blog-detail .blog-title{
    a {
      font-weight: normal;
    }
  }
  //featured home
  .featured .products-listing.grid .product-layout .item .product-item .right-block {
    padding: 10px 0 0 10px !important;
  }
  .products-listing.grid .product-layout .product-item-container .left-block .button-link .add-to-cart .btn_df .hidden-md{
    display: none; 
  }
}

@media (max-width: 991px) {
  body.modal-open{
    overflow: unset;
  }
  //about page
  .our-member{
    padding-bottom: 0;
    .col-md-3{
      margin-bottom: 30px;
    }
  }
  //Home
  .widget-slideshow .col_2 {
    width: 100%;
  }
  .widget-slideshow .col_3 {
    width: 100%;
    margin-top: 20px;
    .banners1{
      margin: 0 -10px; 
      >div{
        width: 50%;
        float: $left; 
        padding: 0 15px;
        margin: 0;
      }
    }
  }
  .tp-bullets{
    display: none; 
  }
  #shopify-section-left-banner1{
    margin-top: 20px; 
  }
  .widget-deals-carousel .products-listing.grid .product-layout .product-item-container{
    margin: 0;
    .right-block {
      padding: 15px 8px 0;
      .caption h4 {
        margin: 0 0 5px 0;
      }
      .description{
        display: none; 
      }
      .qt{
        margin: 10px 0;
        line-height: 100%;
      }
    }
  }
  .widget-deals-carousel .countdown_tabs .countdown_inner .deals-time{
    &.day{ margin: 0;}
  }
  .widget-listingtab{
    margin-bottom: 10px!important; 
  }
  .widget-listingtab.style2 .ltabs-items-container .ltabs-items .ltabs-slider .ltabs-item {
    margin: 0;
    padding: 0 15px;
    width: 50%;
    &.ltabs-item_first {
      width: 100%;
    }
  }
  .tab-slider .ss-listing-tabs .ltabs-wrap .ltabs-tabs-container {
    margin: 0 0 15px 0;
    overflow: visible;
    .ltabs-tabs-wrap.ltabs-selectbox .ltabs-tabs{
      padding: 5px 0;
      li{
        padding: 3px 20px; 
        span:after{
          display: none;
        }
      }
    }
    span{
      text-transform: capitalize; 
    }
  }
  .widget-slideshow {
    margin-top: 0px;
  }
  .widget-product-deals .item-product .caption {
    padding: 0 20px 20px;
    display: block;
    overflow: hidden;
    text-align: center;
  }

  //EndHome
  //Header
  .header.header-style1{
    .widget-verticalmenu .navbar-vertical .navbar-toggles{
      background: transparent!important; padding: 0 !important;
    }
  }
  //End Header
  //Footer
  .instagram-slide{
    img{ width: 100%; } 
  }
  .cssload-loading{
    position: absolute; 
    top: 45% !important; 
    #{$left}: auto !important; 
    #{$right}:45% !important; 
  }
  .effect_9 .banners>div a:hover img{
    -webkit-transform: perspective(0) translate3d(0, 0, 0);
    transform: perspective(0) translate3d(0, 0, 0);
  }
  .modal-backdrop{
    display: none; 
  }
  .mobile-menu .site_nav_mobile{
    margin-top: 0px;
  }
  .home-section>div{
    margin-bottom: 25px;
  }
  //Listing
  .toolbar-bottom{
    margin: 0; 
  }
  .product-single__detail{
    margin-top: 20px; 
  }

  .zoomContainer{
    display: none; 
  }
  .feature-layout .image-link .btn{
    top: calc(50% - 25px)!important;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  //Content Home 1
  .page-about .our-member .cl-job{ font-size: 100%;}
  .widget_multibanner{ display: none;}
  //End
  .cssload-loading{
    position: absolute; 
    top: 45% !important; 
    #{$left}: auto !important; 
    #{$right}:45% !important; 
  }
  //Footer
  footer .footer-1{
    .socials-wraps{
      padding-top: 7px; 
      text-align: $right;
    }
    .footer-newsletter{
      .footer-block-content {
        width: 100%;
      }
    }
  }
  // Listing
  .product-single .countdown_tab {
    margin: 15px 0 10px;
  }
}

@media (max-width: 767px) {
  //Header

  //End Header
  //Home

  //End Home
  //Footer
  footer {
    address {
      margin: 0px;
      text-align: center;
      margin-bottom: 10px;
    }
  }
  // Home ALL
  .cssload-loading{
    position: absolute; 
    top: 45% !important; 
    #{$left}: auto !important; 
    #{$right}:45% !important; 
  }
  //about page
  .about-service .item .item_wrap{
    margin-bottom: 15px;
    line-height: 28px;
  }
  .page-about .title-about-us h2 {
    font-size: 22px;
    margin: 0 0 14px;
  }
  .about_us h2 {
    font-weight: 400;
    text-transform: normal;
    color: #222;
    margin-bottom: 12px;
  }
  //Cart
  .cart__edit{
    display: none; 
  }
  //Fix Home
  body {
    -webkit-text-size-adjust: 100%;
  }
  .slideshow-wrapper .slick-slide img{
    width: 100%; 
  }
  //Cart
  .cart tr{
    padding: 10px; 
  }
  .cart td{
    padding: 0;
  }
  .cart__footer {
    padding-top: 0;
  }

  //Detail
  .product-single .more-views-verticle .media-list {
    height: 360px;
  }

  #breadcrumbs.breadcrumbbgimage > img{
    height: 100px; 
  }
  .main-home{
    .widget-collection{
      overflow: hidden; 
    }
  }
  //Listing
  .products-listing.grid .product-layout .product-item-container .right-block {
    padding: 10px;
  }

}

@media (min-width: 479px) and (max-width: 767px) {

  //Home
  .main-left{
    .widget_multibanner{
      display: none;
    }
  }
  //End Home

  .col-xxs-4{
    width: 33.333%!important;
    float: $left;
  }
  .col-xxs-6{
    width: 50%!important;
    float: $left;
  }
  .product-single .detail-bottom .tab-hozizoltal ul.nav-tabs li a{
    font-size: 14px; 
  }
  .product-single__detail{
    margin-bottom: 20px; 
  }
}

@media (max-width: 478px) {
  //Home
  .widget_multibanner{
    img{width: 100%;} 
  }
  //End Home

  //About

  .page-about .content-about-us .image-about-us{
    width: 100%; 
    img{
      width: 100%; 
    }
  }
  .page-about .content-about-us .des-about-us {
    margin: 20px 0 10px 0;
    display: inline-block;
  }
  //Cart
  .popup_cart .popup_inner{
    text-align: center;
    min-width: 350px;
    padding: 15px;
  }
  //Listing
  .products-listing{
    &.list{
      .right-block{
        margin-top: 15px; 
      }
    }
  }
  .product-single .detail-bottom .tab-vertical .tab-content{
    margin: 0;
    .tab-pane{
      border: none; 
    }
  }
  /*============================================================================
  ============================ Footer All Responsive ============================
  ==============================================================================*/
  footer {
    .footer-1{
      .ft-item{
        width: 100%;
        margin-top: 10px;
      }
      .socials-wraps{
        text-align: center;
        margin: 15px 0 0;
        display: inline-block!important
      }
    }
  }

}

@media(max-width:420px){
  .hidden-xs{
    display: none!important; 
  }
}

@media(max-width:320px){
  .popup_cart .popup_inner{
    text-align: center;
    min-width: 280px;
    padding: 10px;
    .product-image{
      display: none; 
    }
    .product-info{
      margin: 0; 
    }
  }
  .cart__footer{
    .btn{ margin-bottom: 10px;}
  }
}



//New

@media (min-width: 321px) and (max-width: 575px) {
  .col-xs-6{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; 
  }

}