
/*!
* Frame by Magentech
* Copyright 2017-2018 The Magentech Authors
* Mixin 2017-2018 SN, Inc.
*/

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
@mixin scale($ratio...) {
  -webkit-transform: scale($ratio);
  -ms-transform: scale($ratio);
  -o-transform: scale($ratio);
  transform: scale($ratio);
}

@mixin scaleX($ratio) {
  -webkit-transform: scaleX($ratio);
  -ms-transform: scaleX($ratio);
  -o-transform: scaleX($ratio);
  transform: scaleX($ratio);
}
@mixin scaleY($ratio) {
  -webkit-transform: scaleY($ratio);
  -ms-transform: scaleY($ratio);
  -o-transform: scaleY($ratio);
  transform: scaleY($ratio);
}

@mixin skew($x, $y) {
  -webkit-transform: skewX($x) skewY($y);
  -ms-transform: skewX($x) skewY($y);
  -o-transform: skewX($x) skewY($y);
  transform: skewX($x) skewY($y);
}

@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  transform: translate($x, $y);
}

@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
  transform: translate3d($x, $y, $z);
}

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}

@mixin rotateX($degrees) {
  -webkit-transform: rotateX($degrees);
  -ms-transform: rotateX($degrees);
  -o-transform: rotateX($degrees);
  transform: rotateX($degrees);
}

@mixin rotateY($degrees) {
  -webkit-transform: rotateY($degrees);
  -ms-transform: rotateY($degrees);
  -o-transform: rotateY($degrees);
  transform: rotateY($degrees);
}
@mixin transition($transition...) {
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: $transition-delay;
  transition-delay: $transition-delay;
}
@mixin transform($arguments){
  -webkit-transform: $arguments;
  -moz-transform:    $arguments;
  -ms-transform:     $arguments;
  -o-transform:      $arguments;
}
@mixin transition-transform($transition...) {
  -webkit-transition: -webkit-transform $transition;
  -moz-transition: -moz-transform $transition;
  -o-transition: -o-transform $transition;
  transition: transform $transition;
}
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

{% if settings.enable_rtl %}
$dir: rtl !default;
{% else %}
$dir: ltr !default;
{% endif %}
@if $dir != ltr and $dir != rtl {
  $dir: ltr;
}
@function if-ltr($if, $else: null) {
  @if $dir != rtl {
    @return $if;
  }
  @else {
    @return $else;
  }
}
@function if-rtl($if, $else: null) {
  @return if-ltr($else, $if);
}
$left: if-ltr(left, right);
$right: if-ltr(right, left);

@function side-values($values) {
  @if $dir == rtl and length($values) >= 4 {
    @return nth($values, 1) nth($values, 4) nth($values, 3) nth($values, 2);
  }
  @else {
    @return $values;
  }
}
@function corner-values($values) {
  @if $dir == rtl and length($values) > 1 {
    @if length($values) == 2 {
      @return nth($values, 2) nth($values, 1);
    }
    @else if length($values) == 3 {
      @return nth($values, 2) nth($values, 1) nth($values, 2) nth($values, 3);
    }
    @else {
      @return nth($values, 2) nth($values, 1) nth($values, 4) nth($values, 3);
    }
  }
  @else {
    @return $values;
  }
}
@mixin if-ltr { 
  @if $dir != rtl {
    @content;
  }
}
@mixin if-rtl {
  @if $dir == rtl {
    @content;
  }
}

/* Typo */
$font-family-body:  		{{ settings.fonts_body }};
$font-family-heading:  		{{ settings.fonts_heading }};
$font-family-custom:  		{{ settings.fonts_custom }};
$font-size-body: 			{{ settings.body_fontsize }}px;
$font-size-heading: 		{{ settings.heading_fontsize }}px;
$font-size-custom:			{{ settings.custom_fontsize }}px;

/* Main color */
$main-color: 				{{ settings.color_base }};
$body-color:				{{ settings.color_body_text }};
$link-color:				{{ settings.color_link }};
$link-hover:				{{ settings.body_text_hover }};
$border-color:				{{ settings.color_border }};

/* Item */
$color-title:				{{ settings.color_prtitle }};
$color-title-hover:			{{ settings.color_prtitlehover }};

/* Label */
$label-sale:				{{ settings.color_sale_bg }};
$label-new:					{{ settings.color_new_bg }};
$label-hot:					{{ settings.color_hot_bg }};
$label-sold:				{{ settings.color_sold_out_bg }};

/* Price */
$new-price:					{{ settings.color_price }};
$old-price:					{{ settings.color_oldprice }};

/* Primary btn */
$btn-text-color:			{{ settings.color_btntext }};
$btn-text-hover:			{{ settings.color_btntext_hover }};
$btn-bg-color:				{{ settings.color_btnbg }};
$btn-bg-hover:				{{ settings.color_btnbg_hover }};

/* Secondary btn*/
$btn-text-color2:			{{ settings.color_btntext2 }};
$btn-text-hover2:			{{ settings.color_btntext_hover2 }};
$btn-bg-color2:				{{ settings.color_btnbg2 }};
$btn-bg-hover2:				{{ settings.color_btnbg_hover2 }};
$btn-border-color:			{{ settings.color_btnline }};
$btn-border-hover:			{{ settings.color_btnline_hover }};

/* Star */
$star-base:					{{ settings.color_startbase }};
$star-active:					{{ settings.color_startactive }};

/* Body */
$bg-body:					{{ settings.bg_body_color }};
$space-block:               40px;
@mixin owl-nav(){
  .owl-nav{ 
    div{
      width: 30px;
      height: 30px;
      line-height: 30px;
      background-color: #c1c1c1;
      -webkit-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
      top: 50%;
      text-align: center;
      @include transform(translateY(-50%));
      position: absolute;
      color: #fff;

      &:hover{background: $main-color;}
      &.owl-prev{
        left: -15px;
        float: left;
        background-color: #c1c1c1;
        &:hover{
          background-color: $main-color;
          opacity: 1;
        }
      }
      &.owl-next{
        right: -15px;
        float: right;
        background-color: #c1c1c1;
        &:hover{
          background-color: $main-color;
          opacity: 1;
        }
      }

    }    
  }
}
@mixin owl-controls(){
  .owl-nav {
    div.owl-prev, div.owl-next{
      top: -65px;
      position: absolute;
      height: 30px;
      width: 30px;
      line-height: 30px;
      border: none;
      opacity: 1;
      background: #c1c1c1;
      font-size: 18px;
      margin: 0;
      padding: 0;
      color: #fff;
      text-align: center;
      @include transition (all 0.2s ease-in-out 0s);
      @media (max-width: 568px){
        top: -55px;
        height: 24px;
        width: 24px;
        line-height: 24px;
      }
      &:before{
        display: none;
      }
      &:hover{
        background-color: $main-color;
      }
    }
    div.owl-prev{
      #{$left}: auto; 
      #{$right}: 32px;
      &:hover {
        background-position: 0px 0;
      }

    }
    div.owl-next{
      #{$left}: auto; 
      #{$right}: 0;
    }

  }
}

/*============================================================================
============================== TITLE HOME PAGE =============================
==============================================================================*/
.home-title{
  border-bottom: 2px solid #eee;
  display: inline-block;
  width: 100%;
  position: relative;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 16px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  h2{
    font-size: 16px;
    color: #222;
    font-weight: 700;
    float: $left;
    text-transform: uppercase;
    margin-bottom: 5px;
    background-color: transparent;
    padding: 0;
    padding-bottom: 5px;
    bottom: 0;
    position: relative;
    @media (max-width: 991px){
      font-size: 14px;
      padding: 0;
    }
    &:before {
      content: "";
      width: 100%;
      height: 2px;
      background: red;
      position: absolute;
      #{$left}: 0;
      bottom: -7px;
    }
  }
  span{
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    float: $left;
    text-transform: uppercase;
    margin-bottom: 0px;
    background-color: #232f3e;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 8px 20px;
    position: relative;
    bottom: -2px;
    @media (max-width: 991px){
      font-size: 14px;
      padding: 5px 15px;
    }
  }
}
/*============================================================================
========================= SECCTION QUICKVIEWS ================================
==============================================================================*/
.template-index{
  .owl-nav{
    > div{
      @include transform(translateY(-50%));
      position: absolute;
      top: 50%;
      color: $border-color; 
      font-size: 18px;
      width: 40px;
      height: 40px;
      line-height: 36px;
      border-radius: 50%;
      text-align: center;
      margin: 0;
      border: 2px solid $border-color; 
      cursor: pointer;
      display: inline-block;
      @include transition(all 200ms ease-in-out);
      position: absolute;
      z-index: 2;
      background: #fff;   
      &.owl-prev{
        left: 0px;
        @include if-rtl{
          float: left; 
        }
        @media (min-width: 992px){
          left: -20px;
        }
      }
      &.owl-next{
        right: 0px;
        @media (min-width: 992px){
          right: -20px;
        }
      }
      &:hover{
        border-color: $main-color;
        background: $main-color;
        i.fa{
          color: #fff;
        }
      }
    }
  }
}
.owl-style_dot{
  .owl-dots{
    position: absolute;
    top: -45px;
    #{$right}: -5px;
    .owl-dot{
      width: 8px;
      height: 8px;
      border-radius: 8px;
      background-color: #222;
      margin: 0 5px;
      display: inline-block;
      float: $left;
      opacity: 1;
      transition: all 0.2s ease-in-out 0s; 
      &.active {
        width: 30px;
        background-color: $main-color;
      }
    }
  }
}
.owl-style2{
  .owl-nav{
    position: absolute;
    top: -55px;
    #{$right}: 0px;
    @media (max-width: 567px){
      top: -42px;
    }
    > div{
      display: inline-block; 
      width: 28px;
      height: 28px;
      line-height: 22px;
      position: static; 
      @media screen and (-webkit-min-device-pixel-ratio:0) { 
        line-height: 24px;
      }
      &.owl-prev{
        margin-right: 5px;
      }
    }
  }
}
.quick-view .overlay, .ajax-success-modal .overlay {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  position: fixed;
}
.quick-view{
  .more-view-wrapper .owl-stage-outer{
    padding: 0 1px;
    margin: 0 -1px;
    direction: ltr;
  }
}

/*============================================================================
========================= SECCTION VERTICAL MENU  =============================
==============================================================================*/
#shopify-section-ss-vertical-menu{
  .widget-verticalmenu{
    position: relative;
    margin: 0;
    padding: 0;
    cursor: pointer; 
    .icon-menus{
      width: 20px;
      height: 16px;
      display: inline-block;
      margin-#{$right}: 15px;
      position: relative;
      top: 2px;
      display: none; 
    }
    .navbar-vertical .navbar-toggles{
      @media (min-width: 1200px){
        font-size: 16px;
      }
      font-size: 15px;
      text-transform: uppercase;
      font-weight: bold;
      padding: side-values(0 0 0 20px);
      height: 40px;
      cursor: pointer;
      @include transition(all 0.3s ease);
      border-radius: 0;
      box-shadow: none;
      border: 0;
      color: #fff;
      line-height: 40px;
      text-align: $left; 
      width: 100%; 
      border-radius: 4px 4px 0 0;
      .fa-bars{
        font-size: 18px;
        margin-#{$right}: 4px;
      }
      .fa-caret-down{
        float: $right;
        font-size: 14px;
        line-height: 45px; 
        padding-#{$right}: 20px;
      }
    }
    .vertical-wrapper{	
      padding: 2px 0px;
      background: #fff;
      .btn-dropdown-toggle{
        top: 50%;
        position: static; 
        #{$right}: 15px;
        line-height: 100%;
        @include transform(translatey(-50%));
        @include if-rtl{
          @include transform(translatey(50%));
        }
        &.toggle-open{
          .fa:before{
            content: '\f0d8';
          }
        }
      }
    }
  }
  .vertical-item.level1{
    padding: 0px 20px;
    position: relative;
    &:first-child{
      border: none; 
      a{
        border-top: 0 !important; 
      }
    }
    &:last-child {
      >a{
        border: 0 !important; 
      }
    }
    ul{
      margin: 0;
      padding: 2px 0px;
      list-style: none;
    }
    > a.menu-link{
      color: #666;
      display: block;
      font-size: 14px;
      font-weight: 400;
      padding: 14px 0;
      line-height: 100%;
      position: relative;
      text-transform: capitalize;
      @include transition(all 0.15s ease);
      &:hover {
        color: $main-color; 
        &:before {
          color: $main-color !important; 
        }
      }
      .icon_items{
        text-align: center;
        text-align: $left; 
        width: 22px;
        font-size: 14px;
        margin: 0;
        display:inline-block;
        img{

          display:inline-block;
          vertical-align:middle;
        }
      }
      > span.menu-title{
        display: inline-block;
        padding: 0.3px 15px;
        padding-#{$left}: 4px;
        text-transform: capitalize; 
      }
    }
    .vertical-drop{
      padding: 0;
      background-color: #fff;
      >li{
        position: relative;
        padding: 0 15px 0 30px;
        &:hover {
          >a{
            color: $main-color;
            &:before {
              color: $main-color; 
            }

          }
        }
        a{
          display: block;
          padding: 8px 0;
          color: #444;
          font-weight: normal;
          line-height: 24px;
          text-decoration: none;
          @include transition(all 0.35s ease);

        }
        &:last-child{
          a{
            border-bottom: 0;
          }
        }
        &.title-cate{
          > a{
            font-weight: bold;
            color: $link-color;
            padding: 0 0 5px;
            font-size: 14px;
          }
        }
      }
    }
  }
  .ss_megamenu_lv2 a{ 
    display: inline-block;
  }
  .vertical-drop li:hover{
    >a{
      color: $main-color !important; 
    }
  }
  .last.all_cate{
    display: inline-block;
    width: 100%; border-top: 1px solid #eaeaea;
    &:hover {
      a{
        color: #fff;
        i{
          color: #fff;
        }
      }
    }

    a{
      display: inline-block; 
      padding: 12px 15px 12px 10px;
      color: #444; 
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      background: #fff;
      width: 100%;
      position: relative;
      &:hover{
        background: #eee; 
      }
      &:before {
        font-size: 16px;
        margin-#{$right}: 11px;
        content: "\f0da";
        font-family: FontAwesome;
        display: inline-block;
      }
    }
  }

  @media (min-width: 992px){

    .vertical-wrapper{
      #{$left}: 0;
      z-index: 3;
      width: 100%;
      position: absolute;
      .css_parent{
        li.vertical-item{
          border-bottom: 1px solid #ddd;
          &:last-child{ border: none; }
        }
      }
    }
    .touch-button,
    .btn-dropdown-toggle{
      display: none;
    }
    .vertical-item{
      &:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        a{
          color: $main-color; 
        }
      }
      .caret {
        display: none; 
      }
      &.sub-mega{
        .vertical-product{
          .product-layout{
            padding: 0; 
            .product-item-container{
              margin-bottom: 0;
              padding: 0 20px 10px;
              .right-block{
                padding: 0; 
              }
            }
          }
        }
      }
      .vertical-drop{
        position: absolute;
        top: 0;
        #{$left}: 120%;
        z-index: 800;
        min-width: 220px;
        height: auto !important;
        box-shadow: 0px 10px 25px 0px rgba(0,0,40,0.2);
        @include transition(all 0.35s ease);
        visibility: hidden;
        opacity: 0;
      }
      .vertical-drop{
        &.drop-mega{
          border: 1px solid $border-color;
          box-shadow: none;
          padding: 20px;
          .content-links{
            margin-bottom: 10px;
            >li{
              > a{
                display: block;
                padding: 3px 0;
                color: #555;
                font-weight: normal;
                line-height: 22px;
                text-decoration: none;
                font-size: 13px;
                @include transition(all 0.25s ease);
              }
              &.menuTitle{
                >a{
                  padding-top: 0;
                  font-weight: bold;
                  color: #000;
                  line-height: 100%;
                  font-size: 13px;
                  text-transform: uppercase;
                  display: block;
                  margin-bottom: 5px;
                } 
              }
            }
          }
        }
      }
      &:hover{
        > .vertical-drop{
          visibility: visible;
          opacity: 1;
          #{$left}: 100%;

          @include transition(all 0.35s ease);
        }
      }
      .level1.sub-dropdown{
        .vertical-drop{#{$left}: calc(100% - 1px);}
        >a:before {
          content: '\f0da';
          font-family: FontAwesome;
          text-align: center;
          font-size: 14px;
          line-height: 14px;
          display: inline-block;
          float: $right;
          position: relative;
          top: 5px;
          color: #999;
          @include if-rtl{ 
            content: "\f0d9"; 
          } 
        }
      }
      .level2.sub-dropdown{
        .vertical-drop{#{$left}: calc(100% - 1px);}
        >a:before {
          content: '\f0da';
          font-family: FontAwesome;
          text-align: center;
          font-size: 14px;
          line-height: 14px;
          display: inline-block;
          float: $right;
          position: relative;
          top: 5px;
          color: #999;
          @include if-rtl{ 
            content: "\f0d9"; 
          } 
        }
      }
      .level3.sub-dropdown{
        .vertical-drop{#{$left}: calc(100% - 1px);}
        >a:before {
          content: '\f0da';
          font-family: FontAwesome;
          text-align: center;
          font-size: 14px;
          line-height: 14px;
          display: inline-block;
          float: $right;
          position: relative;
          top: 5px;
          color: #999;
          @include if-rtl{ 
            content: "\f0d9"; 
          } 
        }
      }
      &.vertical_drop{
        > a{
          position: relative;
          &:before{
            content: '\f0da';
            font-family: FontAwesome;
            text-align: center;
            font-size: 14px;
            top: 50%;
            position: absolute;
            #{$right}: 0px;
            line-height: 100%;
            @include transform(translatey(-50%));
            color: #999;
            @include if-rtl{ 
              content: "\f0d9"; 
            } 
          }
        }
      }
    }
    .ss_product_ver_content{
      .ver_title_product{
        font-weight: 600;
        color: #222;
        padding-bottom: 10px;
        font-size: 14px;
        text-transform: uppercase;
      }
      .title-product{
        font-size: 15px; 
        margin: 10px 0;
      }
    }
    .widget-verticaltoi .class_custom_2{
      padding: 0!important;
      .content-links{
        padding: 20px 25px;
        background: #eee;
        margin: 0!important;
      }
      .ss_product_ver_content{
        padding: 15px 20px 12px 0;
        .product_col_1{
          border-#{$right}: 1px solid $border-color 
        }
        .box-label {
          #{$right}: 20px;
          top: 10px;
        }
        .right-block{
          padding: 0 20px; 
        }
      }
    }
  }

  @media (max-width:991px) {
    .widget-verticalmenu{
      .vertical-wrapper .vertical-group{
        .vertical-item{
          padding: 0; 
          .menu-link{
            padding: 8px 15px;; 
            >span.menu-title{
              color: #333;
              text-transform: uppercase;
              font-size: 13px;
            }
            &:hover{
              >span.menu-title{color:$main-color;}
            }
            .caret {
              float: right;
              width: 30px;
              text-align: center;
              font-size: 14px;
              display: block;
            }
          }
        }
        .vertical-drop{
          &.drop-mega{
            border: 1px solid $border-color;
            box-shadow: none;
            padding: 20px;
            .content-links{
              margin-bottom: 10px;
              padding: 0 5px;
              >li{
                > a{
                  display: block;
                  padding: 5px 0;
                  color: #555;
                  font-weight: normal;
                  line-height: 24px;
                  text-decoration: none;
                  font-size: 14px;
                  @include transition(all 0.25s ease);
                }
                &.menuTitle{
                  >a{
                    padding-top: 0;
                    font-weight: bold;
                    color: #333;
                    line-height: 100%;
                    font-size: 14px;
                    text-transform: uppercase;
                    border-bottom: 1px solid #ddd;
                    display: block;
                    padding-bottom: 10px;
                    margin-bottom: 5px;
                  } 
                }
              }
            }
          }
          &.drop-css{
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            .vertical-item .menu-link{
              padding: side-values(4px 0 4px 10px); 
            }
          }
        }
        .sub-menu{ display: none; width: 100%!important; padding: 5px 15px;}
      }
      .vertical-wrapper{
        -webkit-transform: translateZ(0);
        will-change: transform;
        display:block!important;
        width:300px;
        position: fixed;
        top:0;
        bottom:0;
        #{$left}:-300px;
        z-index:1000;
        border: none;
        padding: 0;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        background-color: #fff;
        visibility:hidden;
        box-shadow: 0 0 5px 0 rgba(50,50,50,.55);
        opacity: 0;
        @include transition(all 0.4s cubic-bezier(0.46,0.01,0.32,1));
        .close-vertical{
          padding: 5px 20px;
          text-align: right;
          color: #000;
          font-size: 18px;
          margin-bottom: 10px;
          background: #f9f9f9;
        }
        &.vertical-open{
          visibility:visible;
          opacity: 1;
          @include transform(translateX(300px));
          @include if-rtl{
            @include transform(translateX(-300px));
          }
        }
      }
    }
  }
  .vertical-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: -1;
    @include transition(all 0.3s ease);
    opacity: 0;
    visibility: hidden;
    &.vertical-open {
      z-index: 98;
      opacity: 1;
      visibility: visible;
    }
  }
}
/*============================================================================
========================= Widget Product Carousel ============================
==============================================================================*/
.widget-product-carousel{
  .products-mini{
    @media (min-width: 768px){
      margin-top: 8px; 
    }
  }
  .product-item{
    padding: 10px;
    margin: 0;
    background-color: #f7f7f7;
    border-radius: 3px;
    @include transition(all 0.3s ease);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &:before {
      content: "";
      width: 0;
      height: 1px;
      background: $main-color;
      bottom: 0px;
      position: absolute;
      #{$left}: 50%;
    }
    &:hover{
      background: #eee;
      &:before {
        #{$left}: 0;
        width: 100%;
        @include transition(all 0.3s ease);
        background: $main-color;
      }
    }
    .product-img{
      width: 90px;
      float: $left;
      @media (min-width: 1200px){
        width: 130px;
      }
    }
    .product-info{
      margin-#{$left}: 110px;
      vertical-align: top;
      margin-top: 20px; 
      @media (min-width: 1200px){
        margin-#{$left}: 150px;
        margin-top: 33px; 
      }
      .price{
        margin-bottom: 5px; 
      }
    }
  }
}
/*============================================================================
========================= Widget Product Deals    ============================
==============================================================================*/
.widget-deals-carousel{
  .products-listing.grid .product-layout .product-item-container{
    background: transparent;
    margin-bottom: 10px;
    .right-block{
      clear: none;
      padding: 0 15px;
      text-align: $left;
      background: transparent;
      .caption h4 {
        margin: 0 0 10px 0;
      }
      .description {
        margin: 20px 0 10px;
      }
      .qt{
        margin: 20px 0;
        font-size: 13px;
        color: #222;
        font-weight: bold;
        b{color: $main-color; font-size: 14px;}
      }
    }
  }
  .owl-dots {
    bottom: 20px;
    width: 100%;
    display: inline-block;
    text-align: center;
    top: 0px;
    margin-top: 10px;
    .owl-dot {
      background: #222;
      margin: 0 5px;
      width: 30px;
      height: 6px;
      padding: 0;
      transition: all 0.3s ease 0s;
      border-radius: 3px;
      float: none;
      display: inline-block;
      &:hover,
      &.active{
        background: $main-color; 
      }
    }
  }
  .countdown_tabs{
    clear: both;
    margin-top: 15px;
    .time-title{
      float: $left;
      color: #222;
      width: 35%;
      margin-top: 5px;
      @media (max-width: 1649px) and (min-width: 1200px){
        display: none!important;
      }
      span {
        font-size: 20px;
        font-weight: 700;
        display: block;
        width: 100%;
      }
    }
    .countdown_inner{
      .deals-time{
        background-color: transparent;
        line-height: 100%;
        float: $left;
        text-align: center;
        width: auto;
        margin-#{$left}: 10px;
        font-size: 20px;
        font-weight: 400;
        &:first-child{margin: 0;}
        @media (max-width: 480px){
          margin-#{$left}: 5px;
        }
        .num-time{
          border: none;
          font-size: 12px;
          color: #222;
          font-weight: 700;
          position: relative;
          width: 33px;
          height: 33px;
          line-height: 33px;
          text-align: center;
          background-color: #eee;
          border-radius: 100%;
          @media (min-width: 992px){
            width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 14px;
          }
        }
        .title-time{
          color: #666;
          font-size: 10px;
          font-weight: 400;
          text-transform: uppercase;
          margin-top: 3px;
        }
      }
    }
  }
}
/*============================================================================
========================= Widget Brand            ============================
==============================================================================*/
.widget-logolist{
  .wrap{
    border: 1px solid $border-color;
    border-radius: 3px;
    padding: 15px 0px;
    @media (min-width: 992px){
      padding: 30px 0px;
      .owl-carousel .owl-item img {
        width: auto;
      }
    }
    .logo-item{
      text-align: center;
      opacity: 0.4;
      @include transition(all 0.25s ease);
      &:hover{
        opacity: 1;
      }
    }
  }
}
/*============================================================================
========================= Widget Mega Menu        ============================
==============================================================================*/
.main-megamenu{
  .ss_megamenu_icon {
    position: absolute;
    top: -16px;
    #{$right}: 15px;
    width: 35px;
    height: 16px;
    line-height: 16px;
    color: #fff;
    font-size: 10px !important;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      bottom: -4px;
      #{$left}: 8px;
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-left-width: 4px;
      border-right-width: 4px;
      border-top: 5px solid #333;
    }
    &.mega-hot {
      background-color: #e74c3c;
      &:after {
        border-top: 5px solid #e74c3c;
      }
    }
    &.mega-new {
      background-color: #00ABF0;
      &:after {
        border-top: 5px solid #00ABF0;
      }
    }
  }
  ul.nav{
    margin: 0;
    >li{
      margin: 0;
      padding: 0;
      float: $left;
      @include transition(all 0.15s ease);
      &:not(:first-child) {
        margin-#{$left}: 30px;
      }
      &:active, &:focus{
        background: transparent !important; 
      }
      > a{
        transition: all 0.35s ease;
        font-size: 14px;
        line-height: 26px;
        @include transition(all 0.35s ease);
      }
      &:hover,
      &.active{
        > a{
          color: $main-color;
        }
      }
      &.menu_item_drop{
        &.arrow{
          > a{
            @media (min-width: 992px){
              span.ss_megamenu_title:after{
                content: "\f0d7";
                display: inline-block;
                vertical-align: middle;
                font-family: FontAwesome;
                margin-#{$left}: 10px;
                position: relative;
                top: 0;
                font-size: 12px;
              }
            }
          }
        }
        &:hover,&:focus{
          > .ss_megamenu_dropdown{
            top: 115%;
            opacity: 1;
            pointer-events: auto;
            visibility: visible;

          }
        }
        .dropdown_lv1{
          .menu_item_drop{
            &:hover{
              > .ss_megamenu_dropdown{
                top: -1px;
                opacity: 1;
                pointer-events: auto;
                visibility: visible;
              }
            }
            .dropdown_lv2{
              .menu_item_drop{
                &:hover{
                  > .ss_megamenu_dropdown{
                    top: -1px;
                    opacity: 1;
                    pointer-events: auto;
                    visibility: visible;
                  }
                }
              }
            }
          }
        }
      }
      &.menu_item_css{
        position: relative;
        .ss_megamenu_dropdown li{
          line-height: 30px;
          padding: 10px 15px;
          &:not(:last-child){
            border-bottom: 1px solid $border-color;
          }
          a{
            padding: 0;
            line-height: 22px;
          }
        }
      }
    }
  }
  .ss_megamenu_dropdown{
    background-color: #fff;
    position: absolute;
    top: 130%;
    #{$left}: 0;
    margin: 0;
    padding: 0;
    min-width: 250px;
    z-index: 900;
    text-align: $left;
    visibility: hidden;
    opacity: 0;
    border: 1px solid $border-color;
    -webkit-transition: opacity .2s ease .1s,visibility .2s ease .1s,top .2s ease .1s;
    -moz-transition: opacity .2s ease .1s,visibility .2s ease .1s,top .2s ease .1s;
    -o-transition: opacity .2s ease .1s,visibility .2s ease .1s,top .2s ease .1s;
    transition: opacity .2s ease .1s,visibility .2s ease .1s,top .2s ease .1s;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 40, 0.2);
    pointer-events: none;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.1);
    li{
      position: relative;
      a{
        display:block;
        padding: 6px 0;
        border-bottom: $border-color;
        font-weight: normal;
        line-height: 24px;
        text-decoration:none;
        font-size: 14px;
        @include transition(all 0.35s ease);
        &:hover{
          color:$main-color;
        }
      }
      &:last-child{
        a{
          border-bottom: 0;
        }
      }
      &.megatitle{
        border-bottom: 0;
      }
      &.menu_item_drop{
        &.width-full{
          position: static !important;
        }
        >a{
          &:after{
            content: "\f105";
            display: inline-block;
            font-family: FontAwesome;
            float: $right;
            margin-#{$left}: 5px;
            @include if-rtl{
              content: "\f104";
            }
          }
        }
        .ss_megamenu_dropdown{
          top:0px;
          #{$left}:100%;
        }
        &:hover,&:focus{
          > .ss_megamenu_dropdown{
            visibility:visible;
            opacity: 1;
          }
        }
      }
    }
    &.megamenu_dropdown{
      padding: 15px 20px;
      &.width-full{
        width: 100%;
      }
      &.left{
        #{$left}: 0; 
        #{$right}: auto;
      }
      &.right{
        #{$left}: auto; 
        #{$right}: 0; 
      }
      .col_banner{
        margin-top: 10px; 
      }
      .ss_product_mega{
        margin-top: 5px;
        .megatitle{
          margin-bottom: 15px;
        }
      }
      .menulink{
        margin-bottom: 10px; 
      }
      .megatitle{
        display: block;
        border-bottom: 0;
        font-weight: 600;
        span, a{
          display: block;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 600;
          color: #000;
          padding-bottom: 10px;
          border-bottom: 2px solid #eee;
          margin-bottom: 5px;
          line-height: 100%;
          &:hover{
            padding-#{$left}: 0;
          }
        }
      }
    } 
  }
  .btn-mobile{
    position: relative;
    padding: 0;

  }
  .button-mobile{ 
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    width: 34px;
    height: 33px;
    border-radius: 0;
    border: none;
    padding: 9px 6px;
    margin-top: 4px;
    border-radius: 3px;
    background: rgba(0,0,0,0.2); 
    span{
      display: block;
      width: 22px;
      height: 2px;
      background-color: #fff;
      + span{
        margin-top: 4px;
      }
    }
  }
  
  .ss_product_mega{
    .box-countdown,
    .product-card__gallery{ display: none!important}
  }
}
.feature-layout{
    padding-top: 10px;
    .image-link{
      display: block;     margin-bottom: 15px;
      .thumbnail{position: relative; overflow: hidden; border-radius: 0;background: #333;padding: 0; border: 1px solid #ddd;
    margin-bottom: 10px;}

      .btn {
        position: absolute;
        top: -100px;
        left: 50%;
        @include transform(translateX(-50%));
        padding: 9px 20px;
        background: #444;
        color: #fff;
        border-radius: 3px;
        border: none;
        background: $main-color; 
        border-color: #f8ab16;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        border-radius: 2px;
        border: none;
        font-size: 13px;
      }
      &:hover { 
        .thumbnail{border: 1px solid #ccc;
          img{opacity: 0.7;}
        }
        .btn{top:50%;margin-top:-18px;}
      }
      .caption{font-size: 12px; text-align: center;font-weight: 600; text-transform: uppercase; 

      }
    }
  }
/*============================================================================
========================= Widget Messenger        ============================
==============================================================================*/
.ss-fb-message{
  &.right-bottom {
    position: fixed;
    bottom: 0;
    #{$right}: 20px;
    z-index: 9;
  }
  &.left-bottom {
    position: fixed;
    bottom: 0;
    #{$left}: 20px;
    z-index: 9;
  }
  .ss-fb-ms-inner {
    position: relative;
  }
  .ss-fb-message-style-default .ss-fb-message-head {
    background-color: #4267b2;
    border: 1px solid #29487d;
    cursor: pointer;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    color: #fff;
    font-family: arial, sans-serif;
    color: white;
    font-size: 12px;
    font-weight: bold;
    height: 29px;
    padding: 5px;
    position: relative;
    >img{ margin-#{$right}: 5px;}
  }
  .ss-fb-message-style-default .so-fb-message-head:hover {
    background-color: #3b5998;
  }
  .ss-fb-message .online {
    padding-left: 5px;
    padding-right: 5px;
  }
  .ss-fb-message-style-metro .ss-fb-message-head-metro {
    width: 100%;
  }
  .ss-fb-message-style-metro .ss-fb-message-head-metro a {
    width: 70%;
    display: inline-block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: #fff;
    height: 36px;
    line-height: 36px;
    text-align: center;
    padding: 0 20px 0 48px;
    background-color: #3b5998;
    position: relative;
    transition: background-color 700ms ease-in-out;
    -moz-transition: background-color 700ms ease-in-out;
    -webkit-transition: background-color 700ms ease-in-out;
    -o-transition: background-color 700ms ease-in-out;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -o-box-sizing: content-box;
    border: none;
  }
  .ss-fb-message-style-metro .ss-fb-message-head-metro a span {
    width: 40px;
    height: 36px;
    padding: 0;
    margin: 0;
    #{$left}: 0;
    top: 0;
    position: absolute;
    background: url("iconmetro.png") no-repeat $left top;
  }

  .ss-fb-message-style-metro .ss-fb-message-head-metro a:hover {
    background-color: #2e4b89;
    color: #fff;
    border: none;
    text-shadow: none;
  }
  .offline_heading, .online_heading {
    position: absolute;
    top: -35px;
    z-index: 999;
    height: 36px;
    padding: 6px 0px;
    color: #FFF;
    cursor: pointer;
    float: $left;
    background-color: #2e4b89;
    margin-#{$left}: 1px;
  }
  .button_chat_offline_text {
    max-width: 85%;
    padding-#{$left}: 12px;
    display: inline-block;
    padding-right: 12px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
  .ss-fb-message .fa-angle-down {
    color: #FFF;
    font-size: 22px;
    float: $right;
    padding-#{$right}: 12px;
  }
}
/*============================================================================
========================= Widget Product Tabs     ============================
==============================================================================*/
.widget-product-tabs{
  .ltabs-tabs-container{
    position: relative;
    .tabs-menu{
      position: absolute;
      top: 7px;
      #{$right}: 0;
      text-align: $right;
      @media (max-width: 991px){
        top: 0;
        .tabs-menu_btn{
          border: 1px solid #ddd;
          font-size: 21px;
          color: #222;
          height: 30px;
          width: 33px;
          display: block;
          text-align: center;
          line-height: 30px;
        }
      }
      .tabs-menu_title{
        li{
          padding: 0 7px;
          float: none;
          display: inline-block;
          line-height: 8px;
          font-size: 12px;
          text-align: center;
          position: relative;
          cursor: pointer;
          >span{
            color: #999;
            display: block;
            font-size: 14px;
            font-weight: 400;
            padding: 0;
            text-transform: capitalize;
            position: relative;
            line-height: 100%;
            @include transition(all 200ms ease-in-out 0s);
            @media (min-width: 992px){
              &:after {
                position: absolute;
                content: "";
                bottom: -15px;
                left: 50%;
                width: 0;
                height: 2px;
                background-color: $main-color;
                @include transition(all 200ms ease-in-out 0s);
                opacity: 0;
                visibility: hidden;
              }
            }
          }
          &:hover,
          &.current{
            >span{
              color: $main-color;
              @media (min-width: 992px){
                &:after{
                  width: 100%;
                  left: 0;
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
          }
          &:last-child{ padding-#{$right}: 0;}
        }
        @media (max-width: 991px){

 			display:none;
          margin: 0;
          min-width: 130px;
          background: #fff;
          border: 1px solid #ddd;
          z-index: 10;
          padding: 10px 20px;
          position: absolute;
          #{$right}: 0;
          top: calc(100% + -1px);
          border-bottom-right-radius: 3px;
          border-bottom-left-radius: 3px;
          >li{
            display: block;
            padding: 8px 0;
            text-align: $left;
            width: 100%;
            border-bottom: 1px solid #ddd;
            &:last-child{ border: none;}
            >span{ color: #222;}
          }
       
        }
      }
    }
    .tab-content{
      opacity: 0;
      height: 0;
      overflow: hidden;
      @include transition(all 200ms ease-in-out 0s);
      &.current{ 
        opacity: 1;
        height: auto;
        overflow: visible;
        @include transition(all 200ms ease-in-out);
      }
    }

  }
  .products-listing.grid .product-layout .product-item-container {
    border-bottom: 1px solid $main-color;
  }
  &.tabs_style2{
    .tab-content{
      margin: 0 -5px;
      @media (min-width: 768px){
        margin: 0 -10px;
      }
      @media (min-width: 1200px){
        margin: 0 -15px;
      }
      @media (min-width: 1200px) and (max-width: 1650px){
        margin: 0 -10px;
      }
      .tabs-item{ 
        float: $left;
        width: 100%;
        padding: 0 5px;

        @media (min-width: 768px){
          width: 33.333%;
          padding: 0 10px;
        }
        @media (min-width: 1200px){
          padding: 0 15px;
          width: 19%;
        }
        @media (min-width: 321px)and (max-width: 767px){
          width: 50%;
        }
        @media (min-width: 1200px) and (max-width: 1650px){
          padding: 0 10px;
        }
        &.tabs-item_first{
          width: 100%;
          @media (min-width: 1200px){
            width: 43%;
          }
          @media (min-width: 1200px) and (max-width: 1650px){
            .product-item-container .right-block {
              padding: 37px 20px!important;
            }
          }
          @media (min-width: 992px){
            .product-item-container .right-block{padding-top: 23px;}
          }
        }
      }
    }
  }
}

/*============================================================================
========================= Widget CountDownt       ============================
==============================================================================*/
#so_popup_countdown{
  @media (max-width: 991px) {
    display: none !important;
  }
  &.modal {
    background-color: rgba(4, 4, 4, 0.4);
    bottom: -37px;
  }
  .modal-dialog {
    margin: 0 auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);	
    background: url({{ 'bg-popupc.png' | asset_url }}) no-repeat;
    background-size: 100%;
    @media (min-width:1200px){
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      height: auto!important;
      margin: 0 auto;
      transition: none;
    }
  }
  .modal-header {
    background-color: transparent;
    padding: 35px 0;
    min-height: 16.43px;
    position: relative;
    border: 0;
    h2 {
      font-size: 22px;
      color: #222;
      font-weight: 400;
      position: relative;
      padding-bottom: 15px;
      text-align: center;
      text-transform: uppercase;
      padding: 10px;
      margin: 0;
      &:after {
        position: absolute;
        content: "";
        background-color: #e1c692;
        width: 60px;
        height: 3px;
        bottom: 0;
        #{$left}: 50%;
        margin-#{$left}: -30px;
      }
    }
    .close {
      #{$right}: 15px;
      #{$left}: auto;
      top: 33px;
      background: #333;
      padding: 3px 10px;
      border-radius: 3px;
      color: #fff;
      font-weight: normal;
      opacity: 1;
      font-size: 2.6rem;
      text-shadow: none;
      margin-top: -1.3rem;
      position: absolute;
      float: $right;
    }
  }
  .modal-content {
    border: 0px;
    box-shadow: none;
    border-radius: 0px;
    p {
      margin: 0px;
    }
    .list-cates{
      ul {
        padding: 0 65px;
        li {
          float: $left;
          padding: 0 10px;
          width: 50%;
          margin: 10px 0;
          a {
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            border: 2px solid #ceb27d;
            display: block;
            background-image: url({{ 'icon_sprites.png' | asset_url }});
            background-repeat: no-repeat;
            padding: side-values(15px 10px 15px 65px);
            line-height: 100%;
            color: #c79b49;
            background-color: #fff;
            &:hover{
              color: darken(#c79b49,10%);
              border-color: darken(#c79b49,10%);
            }
          }
          &.icon1 a {
            background-position: $left 8px;
          }
          &.icon2 a {
            background-position: $left -46px;
          }
          &.icon3 a {
            background-position: $left -102px;
          }
          &.icon4 a {
            background-position: $left -158px;
          }
          &.icon5 a {
            background-position: $left -220px;
          }
          &.icon6 a {
            background-position: $left -276px;
          }
        }
      }
      .customer {
        display: inline-block;
        width: 100%;
        border-top: 1px solid rgba(0,0,0,.04);
        font-size: 14px;
        font-weight: 500;
        margin-top: 18px;
        padding: 15px;
        text-align: center;
        a {
          color: #f44336;
        }
      }
    }
  }
  .modal-footer {
    padding: 0;
    border: 0px;
    text-align: justify;
    position: relative;
    #so_countdown_timer {
      position: absolute;
      top: 65px;
      left: 50%;
      transform: translateX(-50%);
      min-width: 300px;
      .time-item {
        border: 3px solid rgba(255,255,255,.7);
        line-height: 18px;
        padding-top: 10px;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        color: #fff;
        float: $left;
        margin-#{$right}: 15px;
        text-align: center;
        text-transform: uppercase;
        display: block;
        vertical-align: middle;
        .num-time {
          font-size: 20px;
          font-weight: bold;
        }
        .name-time {
          font-size: 10px;
        }
      }
    }
  }
}

/*============================================================================
========================= Widget Collection       ============================
==============================================================================*/
.banner-collection{
  .row >div{
    img{
      @include transition(all .4s); 
    }
    &:hover {
      img{
        opacity:0.8;
      }
    }
  }
}

.no-change:hover .second-img{
  opacity:0 !important; 
  visibility: hidden; 
}

/*============================================================================
========================= Widget Search Auto      ============================
==============================================================================*/
.box-results {
  z-index: 8889;
  list-style-type: none;   
  width: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.1);
  overflow: hidden;
  top: calc(100%)!important;
  border-radius: 0!important;
  li {
    display: block;
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    border-top:  1px solid #ddd;
    line-height: 38px;
    overflow: hidden;
    a{
      display: table;
    }
    &:first-child {
      border-top: none;
    }
  }
  .title_name {
    padding-#{$left}: 10px;
    overflow: hidden;
    line-height: 100%;
    text-align: $left;
    vertical-align: middle;
    display: table-cell;
  }
  .thumbnail {
    float: $left;
    display: table-cell;
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 0;
    text-align: center;
  }
  .btn.btn-results{
    margin-top: 10px;
    background: transparent;
    box-shadow: none;
    border: 1px solid #ddd;
    color: #333;
    font-size: 14px;
    a{
      color: #333;
    }
    &:hover{
      background: $main-color;
      border-color: $main-color;
      a{
        color: #fff; 
      }
    }
  }
}

/*============================================================================
========================= Widget Blogs Slide      ============================
==============================================================================*/
.widget-blogs{
  .blog-image{
    &:hover {
      img{
        opacity: .7;
      }
    }
  }
  .des{
    color: #666;
    font-size: 14px;
    line-height: 24px;
  }
  .blog-detail{
    .blog-title{
      margin: 18px 0 10px;
      padding: 0;
      @media (max-width: 767px){
        margin: 5px 0;
        line-height: 20px;
      }
      a{
        padding: 0;
        font-weight: 700;
        font-size: 14px;
        color: #222;
        &:hover {
          color: $main-color; 
        }
      }
    }
    .article_info{
      color: #999;
      font-size: 12px;
      .article_info__date{
        padding: 0 10px 0 1px; 
      }
    }
    .read-more{
      display: inline-block; 
      float: $right; 
      text-align: $right;
      text-transform: uppercase;
      color: $main-color; 
      text-transform: uppercase;
      font-weight: 400;
      font-size: 12px;
      margin-top: 7px;
      padding: 0;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: auto;
        bottom: 3px;
        #{$right}: 0;
        #{$right}: 0;
        height: 1px;
        width: 100%;
        background: $main-color; 
      }
    }

  }
}

/*============================================================================
============================ SETTING SLIDE HOME ==============================
==============================================================================*/
.widget-slideshow{
  margin-top: 30px;
  .col_2 {
    @media (min-width: 992px){
      -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
      flex: 0 0 70%;
      max-width: 70%;
    }
  }
  .col_3 {
    display: none;
    @media (min-width: 992px){
      -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
      flex: 0 0 30%;
      max-width: 30%;
      display: block;
    }
    .b-img{
      margin-bottom: 30px; 
    }
  }
}
.tp-banner-container{
  text-align: center; 
  @media (min-width: 1600px){
    .tp-bullets{
      bottom: 13px!important;
    }
  }

  .tp-caption{
    top: 10% !important;

  }
  .tp-caption-slide-1{
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    @media(max-width: 767px) {
      margin-bottom: 0;
      font-size: 16px!important;
    }
    @media(max-width: 480px) {;
      font-size: 14px!important;
    }
  }
  .tp-caption-slide-2{
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    @media (max-width: 991px){
      margin: 0 !important; 
      font-size: 20px!important;
    }
    @media(max-width: 480px) {
      font-size: 18px!important;
    }
  }
  .tp-caption-slide-3{
    line-height: 20px;
    @media(max-width: 767px){
      display: none; 
    }
  }
  .tp-caption-slide-5{
    text-transform: uppercase; 
  }
  .slide-link-button {
    font-weight: bold;
    display: inline-block;
    padding: 0 30px;
    line-height: 40px;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 13px;
    @include transition(all .2s);
    position: relative; 
    margin-bottom: 12px;
    @media(max-width: 767px) {
      padding: 0 15px;
      line-height: 25px;
      font-size: 12px!important;
    }
    @media (max-width: 991px){
      font-size: 10px!important;
      padding: 0 10px;
      line-height: 25px;
      font-size: 12px!important;
    }
    &:hover{
      background: #444!important;
    }
  }
  .tp-bullets.simplebullets.round .bullet{
    cursor: pointer;
    @include transition(all .2s);
    &:hover,
    &.selected{
      background: $main-color; 
    }
  }
}
.show_dot{
  .owl-dots{
    display: block; 
    margin: -10px 0;
    text-align: center; 
    .owl-dot{
      width: 40px;
      height: 5px;
      border-radius: 2px;
      margin: 0 5px;
      background: #222;
      border: none;
      opacity: 1;
      display: inline-block; 
      &.active{
        background: $main-color; 
      }
    }
  }
}

//page about us
.about-service{
  background: #fff;
  padding: 30px 0;
}
.about_us p {
  line-height: 23px;
  color: #666;
}
.about-service .item .item_wrap {
  text-align: center;
}
.about-service .item .item_wrap .icon {
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 100px;
  font-size: 36px;
  color: #fff;
  border-radius: 50%;
  line-height: 100px;
  background-color: #ff5c00;
}
.about-service .item .item_wrap h3 {
  font-weight: 700;
  color: #222;
  text-transform: uppercase;
  padding: 20px 0 10px;
  font-size: 14px;
  margin: 0;
}
.about-service .item .item_wrap .des {
  font-size: 14px;
  color: #666;
  line-height: 24px;
}
//our-member
.our-member{
  padding: 30px 0;
  text-align: center; 
  h2{
    text-align: center;
    color: #222;
    font-size: 26px;
    margin: 0 0 20px;
    text-transform: capitalize;	
  }
  .dshort-des{
    text-align: center;
    font-size: 14px;
    color: #666;
    margin: 0 0 25px;
  }
  .item-inner{
    background: #fff;
    h2{
      font-size: 14px;
      color: #222;
      text-transform: uppercase;
      font-weight: 700;
      margin: 0 0 5px;
    }
    p{
      font-size: 12px;
      color: #666;
      margin: 0
    }
    .socials-wraps {
      padding: 0 0 15px;
      text-align: center;      
      li{
        display: inline-block;
        padding: 0 7px;
        a{
          font-size: 14px;
          color:#555;
          &:hover {
            color: $main-color; 
          }
        }
      }
    }
    img{
      width: 100%; 
    }
    .item-content{
      padding: 20px 0 15px;
      text-align: center;    
    }
  }
}
.radius_3 img{
  border-radius: 3px; 
}


/*============================================================================
=============================== Page Banner ===============================
==============================================================================*/
.home-banner-ct{
  .banner1, 
  .banner3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25.5%;
    flex: 0 0 25.5%;
    max-width: 25.5%;
  }
  .banner2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 49%;
    flex: 0 0 49%;
    max-width: 49%;
  }
  .bn-1.banner-image{
    margin-bottom: 30px; 
  }
}
/*============================================================================
=============================== Left Policy ===============================
==============================================================================*/
.policy_left{
  border: 1px solid $border-color;
  border-radius: 3px;
  padding: 0 15px;
  @media (min-width: 1500px){
    padding: 0 20px;
  }
  .policy{
    clear: both; 
    border-top: 1px solid $border-color;
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    @media (min-width: 1500px){
      padding: 25px 0;
    }
    &:hover{
      .info a{
        color: $main-color;
        font-weight: 700;
      }
      .icon-policy{
        color: $main-color;
      }
    }
    &:first-child{
      border: none;
    }
  }
  .icon-policy{
    font-size: 28px;
    padding-top: 5px;
    width: 40px;
    float: $left;
    margin-#{$right}: 10px;
    @include transition(all .2s);
    text-align: center;
    @media (min-width: 1500px){
      font-size: 32px;
      padding-top: 8px;
      width: 50px;
    }
  }
  .info{
    margin-#{$left}: 60px;
    @media (min-width: 1500px){
      margin-#{$left}: 50px;
    }
    a {
      font-size: 14px;
      color: #222;
      text-transform: uppercase;
      @include transition(all .2s);
    }
    p {
      color: #999;
      line-height: 100%;
      margin-bottom: 0;
    }
  }
}
/*============================================================================
=============================== Left Products ===============================
==============================================================================*/
.left-product-carousel{
  .item:last-child{
    .product-item{
      margin-bottom: 0px; 
    }
  }
  .product-item{
    margin-bottom: 20px;
    overflow: hidden;
  }
  .product-img{
    float: $left;
    width: 80px;
  }
  .product-info{
    margin-#{$left}: 90px;
    vertical-align: top;
    .product-name{
      font-size: 14px;
      color: #222;
      font-weight: 400;
      text-transform: capitalize;
      line-height: 18px;
      &:hover{
        color: $main-color; 
      }
    }
  }
}
//fixbug
.about-service .item .item_wrap{
  cursor: pointer; 
  &:hover {
    .icon{
      opacity: .7;
    }
  }
}
.thumbnails-slide .owl-stage-outer {
  border-#{$right}: 1px solid $border-color;
}
.widget_bestseler , .widget-prd-featured {
  .product-item{
    &:hover {
      img{
        opacity: .7;
      }
    }
  }
}
.collection-wrap{
  .desc{
    @media(max-width: 1200px) {
      display: none;  	
    }
  }
}
.bkt--brand{
  display: none; 
}

/*============================================================================
=============================== Widget Newletter =============================
==============================================================================*/
.popup-newletter{
  position: relative;

  @media (max-width: 1199px){
    display: none!important; 
  }
  &.popup_bgs{

    .newsletter-wrappers  .popup-wraper{
      top: 50%;;
      opacity: 1;
      visibility: visible;
      transform: translateY(-50%);
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -ms-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
    }
    .newsletter-wrappers  .popup_bg{
      background: rgba(45,45,50,0.8);
      height: 100%;
      position: absolute;
      width: 100%;
      opacity: 1;
      visibility: visible;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -ms-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
    }
  }
  .newsletter-wrappers{
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    display: block;

    .popup_bg{
      opacity: 0;
      visibility: hidden;
    }
    .popup-wraper{
      margin: 0 auto;
      position: relative;
      opacity: 0;
      visibility: hidden;
      .ss-custom-oca-popup{
        position: relative;
        background: #fff;
      }
      .popup-close{
        position: absolute;
        width: 30px;
        height: 30px;
        background: #000;
        display: inline-block;
        top: -15px;
        #{$right}: -15px;
        z-index: 9;
        border: none;
        color: #fff;
        font-size: 23px;
        cursor: pointer;
        &:hover{
          background: $main-color; 
        }
      }
      .wrap-info{
        padding: 55px 35px;
        text-align: center;
        .popup-title h4{
          text-transform: uppercase;
          color: #222;
          font-weight: bold;
          letter-spacing: 2px;
          margin-bottom: 15px;
          font-size: 24px;
        }
        .short-description{
          margin: 0 0 30px; 
          color: #222;
          font-size: 15px;
        }
        .form-control{
          border: 1px solid #222;
          border-radius: 0;
          height: 40px;
          padding: 0 15px;
          line-height: 38px;
        }
        .newsletter__submit{
          background: #222;
          border-radius: 0;
          color: #fff;
          height: 40px;
          text-transform: uppercase;
          &:hover{
            background: $main-color; 
          }
        }
        .hidden-popup{
          text-transform: uppercase;
          border-bottom: 1px dotted;
          font-size: 12px;
          color: #666;
          margin-top: 30px;
          input{    position: relative;
            top: 3px;}
        }
        .socials-popup{
          li{    
            display: inline-block;
            margin: 20px 10px;
            font-size: 20px;
          } 
        }
      }
    }
  }
}


/*============================================================================
========================= Widget Tools   =============================
==============================================================================*/
#shopify-section-ss-tools{
  @media (max-width: 1199px){
   display: none!important; 
  }
  .so-groups-sticky.right {
    position: fixed;
    #{$right}: 0;
    z-index: 9;
    width: 40px;
  }
  .so-groups-sticky.left {
    position: fixed;
    #{$left}: 0;
    z-index: 9;
    width: 40px;
  }
  #so-groups > a {
    float: $left;
    width: 100%;
    display: block;
    cursor: pointer;
    text-align: center;
    color: #fff;

    height: 40px;
    border-top: 1px solid rgba(255,255,255,0.5);
    background: $main-color; 
    position: relative;
    &.sticky-categories{
      border: none; 
    }
  }
  #so-groups > a:hover {
    background-color: darken($main-color,10%);
  }
  #so-groups > a > i {line-height: 40px;}
  #so-groups i.fa-recent {
    background: url('icon-recent.png') no-repeat;
    width: 23px;
    height: 10px;
    display: inline-block;
  }
  #so-groups > a span {
    background-color: $main-color;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    line-height: 19px;
    opacity: 0;
    padding: 10px;
    position: absolute;
    right: 100%;
    text-align: center;
    text-transform: capitalize;
    top: 0;
    transition: all 0.2s ease-in-out 0s;
    visibility: hidden;
    white-space: nowrap;
    width: auto;
  }
  .left#so-groups > a span {
    #{$left}: 100%;
    #{$right}: auto;
  }

  #so-groups > a:hover span {
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;
    visibility: visible;
    width: auto;
  }
  #so-groups .text-color {
    color: $main-color;
  }
  #so-groups .popup {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 1;
    background: rgba(0,0,0,.6);
  }
  #so-groups .popup-hidden {
    opacity: 0;
    top: -100%;
    bottom: 100%;
  }
  #so-groups .popup-screen {
    display: table;
    vertical-align: top;
    width: 100%;
    height: 100%;
  }
  #so-groups .popup-position {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding: 40px;
  }
  @media screen and (min-width: 768px) {
    #so-groups .popup-position {
      padding: 40px;
    }
  }
  #so-groups .popup-container {
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 6px 3px rgba(0,0,0,.1);
  }
  #so-groups .popup-small {
    max-width: 540px;
  }
  #so-groups .popup-html {
    padding: 0;
  }
  #so-groups .popup-header, #so-groups .popup-content, #so-groups .popup-footer {
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }
  #so-groups .popup-header {
    position: relative;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: $main-color;
  }
  #so-groups .popup-header > span > i {
    margin-right: 10px;
  }
  @media screen and (min-width: 768px) {
    #so-groups .popup-header {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
  @media screen and (min-width: 768px) {
    #so-groups .popup-header {
      padding-#{$left}: 40px;
      padding-#{$right}: 70px;
    }
  }
  #so-groups .popup-close {
    position: absolute;
  }
  #so-groups .popup-close, #so-groups .popup-close i.fa {
    height: 40px;
    line-height: 40px;
    font-size: 13px;
  }
  #so-groups .popup-header .popup-close {
    top: 50%;
    margin-top: -20px;
    width: 40px;
    cursor: pointer;
    color: #fff;
    font-size: 2.2rem;
  }
  #so-groups .popup-header .popup-close:hover {
    opacity: 0.7;
  }
  @media screen and (min-width: 768px) {
    #so-groups .popup-header .popup-close {
      #{$right}: 20px;
    }
  }
  #so-groups i.fa {
    text-align: center;
  }
  #so-groups .popup-close i.fa {
    width: 100%;
    color: #fff;
  }
  #so-groups .popup-content {
    background: #fff;
  }
  @media screen and (min-width: 768px) {
    #so-groups .popup-content {
      padding: 25px 40px 30px;
    }
  }
  #so-groups .notification {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
  }
  #so-groups .notification i.info-icon {
    position: absolute;
    top: 8px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 26px;
    cursor: default;
    left: 0;
  }
  #so-groups .notification p {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  #so-groups .notification i.info-icon+p {
    padding-left: 28px;
  }
  @media screen and (min-width: 768px) {
    #so-groups .notification {
      margin-bottom: 40px;
    }
  }
  #so-groups .button-search{
    .fa-refresh{
      margin-#{$right}: 7px; 
    }
  }
  #so-groups .notification.gray {
    background-color: #eee;
    border-color: #d6d6d6;
    color: #737373;
  }
  #so-groups div.nav-secondary {
    width: 100%;
    padding-bottom: 40px;
  }
  #so-groups div.nav-secondary {
    float: $left;
    overflow-y: scroll;
    max-height: 400px;
  }
  #so-groups div.nav-secondary ul, #so-groups div.nav-secondary ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #so-groups div.nav-secondary>ul {
    float: $left;
  }
  #so-groups div.nav-secondary li span.nav-action {
    width: 37px;
    height: 37px;
    position: relative;
    z-index: 10;
    cursor: pointer;
  }
  #so-groups div.nav-secondary li span {
    float: $right;
  }
  #so-groups div.nav-secondary li span.nav-action .more {
    display: block;
  }
  #so-groups div.nav-secondary li span.nav-action i.fa {
    width: 37px;
    height: 37px;
    line-height: 37px;
    color: rgba(0,0,0,.3);
  }
  #so-groups div.nav-secondary li span i.fa {
    float: $right;
  }
  #so-groups div.nav-secondary li span.nav-action .less {
    display: none;
  }
  #so-groups div.nav-secondary li.active>span.nav-action .more {
    display: none;
  }
  #so-groups div.nav-secondary li.active>span.nav-action .less {
    display: block;
  }
  #so-groups div.nav-secondary li a {
    position: relative;
    display: block;
    vertical-align: top;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 0;
    color: #1a1a1a;
    border-top: 1px solid rgba(0,0,0,.15);
  }
  #so-groups div.nav-secondary li a:hover {
    color: $main-color;
    text-decoration: underline;
  }
  #so-groups div.nav-secondary li a {
    padding-right: 60px;
  }
  #so-groups div.nav-secondary>ul>li:first-child>a {
    border-top: none;
  }
  #so-groups div.nav-secondary ul.level-2, #so-groups div.nav-secondary ul.level-3 {
    display: none;
  }
  #so-groups div.nav-secondary>ul>li.active ul.level-2 {

  }
  #so-groups div.nav-secondary>ul>li>ul.level-2>li.active ul.level-3 {

  }
  #so-groups div.nav-secondary .nav-arrow {
    display: none;
  }
  #so-groups div.nav-secondary ul.level-2>li a:before,
  #so-groups div.nav-secondary ul.level-3>li a:before {
    content: ' - ';
  }
  #so-groups div.nav-secondary ul.level-2>li>a,
  #so-groups div.nav-secondary ul.level-3>li>a {
    font-size: 15px;
  }
  #so-groups div.nav-secondary ul.level-2>li>a {
    padding-#{$left}: 10px;
  }
  #so-groups div.nav-secondary ul.level-3>li>a {
    padding-#{$left}: 20px;
  }
  #so-groups .form-content,
  #so-groups .form-content form,
  #so-groups .form-content .form-box,
  #so-groups .form-content .form-group {
    width: 100%;
  }
  #so-groups .popup-mysearch .form-content .form-box {
    text-align: center;
    position: relative;
  }
  @media screen and (min-width: 768px) {
    #so-groups .form-content .form-box {
      margin-bottom: 40px;
    }
    #so-groups .popup-myaccount .form-content .form-box {
      margin-bottom: 40px;
      i{color: $main-color; font-size: 42px;}
    }
  }
  #so-groups .form-content .form-box input.field,
  #so-groups .form-content .form-box select.field {
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    -webkit-appearance: none;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 10px 35px 10px 15px;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    border: 1px solid #ccc;
  }
  #so-groups .form-content .form-box input.field:hover,
  #so-groups .form-content .form-box select.field:hover {
    cursor: pointer;
  }
  #so-groups .form-content .form-box #button-search {
    text-align: center;
    background-color: $main-color;
    display: inline-block;
    border: 0px;
    height: 50px;
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
  }
  #so-groups .form-content .form-box #button-search:hover {
    background-color: #ec3a01;
  }
  #so-groups .form-content .form-box input + i {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -7px;
    cursor: pointer;
  }
  #so-groups div.hr {
    float: left;
    width: 100%;
    clear: both;
  }
  #so-groups div.hr.show {
    visibility: visible;
    opacity: 1;
  }
  #so-groups div.hr.show {
    height: 1px;
    background: rgba(0,0,0,.15);
  }
  #so-groups .txt-center {
    text-align: center;
  }
  #so-groups .form-content .form-box .account-txt {
    text-transform: uppercase;
    color: #222;
    font-size: 12px;
  }
  #so-groups .form-content .form-box a.account-url:hover .account-txt {
    color: $main-color;
  }
  #so-groups .form-content .form-box a.account-url {
    height: 80px;
    display: inline-block;
  }
  #so-groups .form-content .form-box a > span > i.fa-history {

  }
  #so-groups .form-content .form-box a > span > i.fa-history:before {
    content: "";
  }
  #so-groups .form-content .form-box a > span > i.fa-shoppingcart {

  }
  #so-groups .form-content .form-box a > span > i.fa-shoppingcart:before {

  }
  #so-groups .form-content .form-box a > span > i.fa-register {

  }
  #so-groups .form-content .form-box a > span > i.fa-register:before {
    content: "";
  }
  #so-groups .form-content .form-box a > span > i.fa-account {

  }
  #so-groups .form-content .form-box a > span > i.fa-account:before {
    content: "";
  }
  #so-groups .form-content .form-box a > span > i.fa-download {

  }
  #so-groups .form-content .form-box a > span > i.fa-download:before {
    content: "";
  }
  #so-groups .form-content .form-box a > span > i.fa-login {

  }
  #so-groups .form-content .form-box a > span > i.fa-login:before {
    content: "";
  }
  #so-groups .form-content .form-box .product-thumb {
    margin: 0;
    padding: 0;
    border: 0px;
    text-align: center;
  }
  #so-groups .form-content .form-box .product-thumb .image {
    width: 100%;
    position: relative;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    overflow: hidden;
  }
  #so-groups .form-content .form-box .product-thumb .image .bt-sale {
    position: absolute;
    z-index: 3;
    top: 10px;
    right: 15px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    line-height: 38px;
    background-color: $main-color;
  }
  #so-groups .form-content .form-box .product-thumb .image .bt-new {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 38px;
    height: 38px;
    z-index: 7;
    border-radius: 50%;
    line-height: 38px;
    position: absolute;
    background: #00abf0;
    top: 10px;
    #{$left}: 15px;
  }
  #so-groups .form-content .form-box .product-thumb .caption {
    height: 68px;
    min-height: 68px;
    max-height: 68px;
    padding: 0;
  }
  #so-groups .form-content .form-box .product-thumb .caption h4 a {
    font-size: 13px;
    color: #7d7d7d;
    text-transform: capitalize;
    margin-bottom: 4px;
  }
  #so-groups .form-content .form-box .product-thumb .caption h4 a:hover {
    color: $main-color;
    text-decoration: underline;
  }
  #so-groups .form-content .form-box .price {
    margin: 0 0 10px 0;
    line-height: normal;
    color: $main-color;
    font-size: 16px;
    font-weight: 700;
  }
  #so-groups .form-content .form-box .price .price-new, #so-groups .form-content .form-box .price span.price {
    color: $main-color;
    font-size: 16px;
    font-weight: 700;
  }
  #so-groups .form-content .form-box .price .price-old {
    line-height: normal;
    padding: 0 5px;
    display: inline-block;
    text-decoration: line-through;
    color: #999;
    font-size: 13px;
    font-weight: normal;
  }
  #so-groups .form-content .form-box .product-thumb .button-group {
    border: 0;
    background: transparent;
  }
  #so-groups .form-content .form-box .product-thumb .button-group button {
    border: 0;
    height: 32px;
    line-height: 30px;
    min-width: 32px;
    padding: 0 15px;
    background: #ff5e00;
    color: #fff;
    border-radius: 18px;
    width: 105px;
    text-transform: none;
    float: none;
  }
  #so-groups .form-content .form-box .product-thumb .button-group button:hover {
    background-color: #ec3a01;
  }
  #so-groups table tr {
    background: transparent;
  }
  #so-groups table tr td {
    border: 0px;
    border-bottom: 1px solid #ddd;
    padding: 20px 8px;
  }
  #so-groups table tr td.first {
    padding-#{$left}: 0px;
  }
  #so-groups table tr td.last {
    padding-#{$right}: 0px;
  }
  #so-groups .cart-bottom table tr td {
    padding: 8px;
  }
  #so-groups table tr td.total-price,
  #so-groups .cart-bottom table tr td.text-right {
    color: $main-color;
    font-weight: 700;
    font-size: 116.7%;
  }
  #so-groups .cart-bottom p > a {
    float: $left;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    border: 0;
    border-radius: 0;
    background-color: #222;
    color: #fff;
    padding: 15px;
  }
  #so-groups .cart-bottom p > a:hover {
    opacity: 0.8;
  }
  #so-groups .cart-bottom p > a.btn-checkout {
    background-color: $main-color;
  }
}



//BuyNow
.buy-demo{
  position: fixed;
  bottom: 75px;
  left: 30px;
  opacity: 0.8;
  z-index: 9;
  &:hover{
    opacity: 1; 
  }
  >span{
    background: #7CA81F;
    color: #fff;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 100%;
    font-size: 22px;
    position: relative;
    z-index: 2;
    font-weight: normal;

    >span{
      position: absolute;
      left: 6px;
      font-size: 14px;
      top: -3px; 
    }
    strong{
      padding-left: 4px;
      font-weight: 500 
    }
  }
  p{
    width: 28px;
    height: 28px;
    position: absolute;
    background: #8BB92C;
    border-radius: 100%;
    text-align: center;
    line-height: 28px;
    bottom: -18px;
    left: -16px;
    svg{
      width: 15px;
      height: 15px;
      stroke: #fff;
      fill: #fff; 
    }
  }

}

.purchase-now-effect{
  position:absolute;
  top: -1px;
  right: -1px;
  width: 52px;
  height: 52px;
  z-index:1;
  background:#7CA81F;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  animation:nasa_pulsate 2000ms linear infinite
}
.buy-demo svg {
  animation: rotateinfinite 15s ease-in-out infinite;
}
@keyframes nasa_pulsate{
  0%{
    transform:scale(1);
    opacity:0
  }
  50%{
    transform:scale(1.2);
    opacity:.5
  }
  100%{
    transform:scale(1.4);
    opacity:0
  }
}
@keyframes rotateinfinite{
  to{
    transform: rotateY(360deg);
  }
}

@keyframes rotateinfinite {
  20%, 100% {
    transform: rotateY(360deg);
  }
  0% {
    transform: rotateY(0deg);
  }
  10% {
    transform: rotateY(0deg);
  }
}