/* ----------------------------------------
// Table of Contents:
// - Components
//   - .breadcrumb
// - Header
//   - .account-menu
//   - .departments
//   - .dropcart
//   - .header
//   - .indicator
//   - .logo
//   - .main-menu
//   - .megamenu
//   - .megamenu-links
//   - .menu
//   - .phone
//   - .search
//   - .suggestions
//   - .topbar
//   - .vehicle-picker
// - Pages
//   - .about
// - Blocks
//   - .block-header
//   - .block-space
// - Blog
//   - .post-header
// ---------------------------------------- */
/* ----------------------------------------
// Components
// ---------------------------------------- */
/*
// .breadcrumb
*/
.breadcrumb__spaceship-safe-area {
  display: none;
}

/* ----------------------------------------
// Header
// ---------------------------------------- */
/*
// .account-menu
*/
.account-menu {
  width: 280px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  border-radius: 1.5px;
  color: #262626;
}

.account-menu__form {
  padding: 0 30px 32px;
}

.account-menu__form-title {
  text-align: center;
  padding: 32px 0 26px;
  font-weight: 500;
}

.account-menu__form-button {
  margin-top: 32px;
  text-align: center;
}

.account-menu__form-button .btn {
  padding-left: 28px;
  padding-right: 28px;
}

.account-menu__form-link {
  font-size: 14px;
  text-align: center;
}

.account-menu__form-link a {
  color: #6c757d;
  -webkit-transition: color .1s;
  transition: color .1s;
}

.account-menu__form-link a:hover {
  color: inherit;
}

.account-menu__form-forgot {
  position: relative;
}

.account-menu__form-forgot-link {
  position: absolute;
  top: 5px;
  bottom: 5px;
  border-radius: 2px;
  font-size: 12px;
  background: fff;
  color: #6c757d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 7px;
  -webkit-transition: background .1s,
 color .1s;
  transition: background .1s,
 color .1s;
}

[dir=ltr] .account-menu__form-forgot-link {
  right: 5px;
}

[dir=rtl] .account-menu__form-forgot-link {
  left: 5px;
}

.account-menu__form-forgot-link:hover {
  background: #333;
  color: #fff;
}

.account-menu__form-forgot-link:active {
  background: #4d4d4d;
  color: #fff;
}

.account-menu__divider {
  height: 1px;
  background: #ebebeb;
}

.account-menu__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 20px;
  color: inherit;
}

.account-menu__user:hover {
  color: inherit;
  background: #f2f2f2;
}

.account-menu__user-avatar {
  width: 44px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

[dir=ltr] .account-menu__user-avatar {
  margin-right: 14px;
}

[dir=rtl] .account-menu__user-avatar {
  margin-left: 14px;
}

.account-menu__user-avatar img {
  border-radius: 100%;
  max-width: 100%;
}

.account-menu__user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.account-menu__user-name {
  font-size: 15px;
  line-height: 20px;
}

.account-menu__user-email {
  font-size: 14px;
  line-height: 18px;
  color: #6c757d;
  margin-top: 1px;
}

.account-menu__links {
  list-style: none;
  padding: 12px 0;
  margin: 0;
}

.account-menu__links a {
  display: block;
  color: inherit;
  font-size: 15px;
  padding: 5px 20px;
  font-weight: 500;
}

.account-menu__links a:hover {
  background: #f2f2f2;
}

/*
// .departments
*/
.departments {
  position: relative;
}

.departments__button {
  position: relative;
  fill: currentColor;
  border: none;
  border-radius: 2px;
  font-family: inherit;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-transition: background-color .2s,
 color .2s;
  transition: background-color .2s,
 color .2s;
}

[dir=ltr] .departments__button {
  padding-left: 35px;
  padding-right: 11px;
  text-align: left;
}

[dir=rtl] .departments__button {
  padding-right: 35px;
  padding-left: 11px;
  text-align: right;
}

.departments__button:focus {
  outline: none;
}

.departments__button-icon {
  top: 10px;
  position: absolute;
  fill: currentColor;
  display: inline-block;
  -webkit-transition: color .2s;
  transition: color .2s;
}

[dir=ltr] .departments__button-icon {
  left: 10px;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

[dir=rtl] .departments__button-icon {
  right: 10px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.departments__button-icon svg {
  display: block;
}

.departments__button-arrow {
  display: none;
  fill: currentColor;
  position: absolute;
  top: calc(50% - 4px);
  -webkit-transition: color .2s,
 -webkit-transform .2s;
  transition: color .2s,
 -webkit-transform .2s;
  transition: transform .2s,
 color .2s;
  transition: transform .2s,
 color .2s,
 -webkit-transform .2s;
}

[dir=ltr] .departments__button-arrow {
  right: 14px;
}

[dir=rtl] .departments__button-arrow {
  left: 14px;
}

.departments__button-arrow svg {
  display: block;
}

.departments__menu {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  top: 100%;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: opacity .2s,
 visibility 0s .2s,
 -webkit-transform .2s;
  transition: opacity .2s,
 visibility 0s .2s,
 -webkit-transform .2s;
  transition: opacity .2s,
 transform .2s,
 visibility 0s .2s;
  transition: opacity .2s,
 transform .2s,
 visibility 0s .2s,
 -webkit-transform .2s;
}

.departments__body {
  border-radius: 1.5px;
  pointer-events: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  color: #262626;
}

[dir=ltr] .departments__body {
  float: left;
}

[dir=rtl] .departments__body {
  float: right;
}

.departments__list {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

.departments__item-link {
  color: inherit;
  display: block;
  position: relative;
}

.departments__item-arrow {
  fill: #bfbfbf;
  position: absolute;
  top: calc(50% - 6px);
}

.departments__item-arrow svg {
  display: block;
}

.departments__item-menu {
  display: none;
}

.departments__item--hover .departments__item-link {
  background: #f2f2f2;
  color: inherit;
}

.departments__megamenu {
  min-height: 100%;
  display: none;
}

[dir=ltr] .departments__megamenu {
  -webkit-box-shadow: 1px 0 #ebebeb inset;
          box-shadow: 1px 0 #ebebeb inset;
}

[dir=rtl] .departments__megamenu {
  -webkit-box-shadow: -1px 0 #ebebeb inset;
          box-shadow: -1px 0 #ebebeb inset;
}

.departments__megamenu--open {
  display: block;
}

.departments__arrow {
  position: absolute;
  width: 31px;
  height: 21px;
  pointer-events: none;
  bottom: 100%;
  overflow: hidden;
}

.departments__arrow:before {
  position: absolute;
  display: block;
  content: '';
  width: 7px;
  height: 7px;
  top: 100%;
  margin-top: -3.5px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  border-radius: 1px;
}

[dir=ltr] .departments__arrow:before {
  left: 50%;
  margin-left: -3.5px;
  -webkit-transform: rotate(45deg) translateX(-0.5px) translateY(-0.5px);
          transform: rotate(45deg) translateX(-0.5px) translateY(-0.5px);
}

[dir=rtl] .departments__arrow:before {
  right: 50%;
  margin-right: -3.5px;
  -webkit-transform: rotate(45deg) translateX(0.5px) translateY(-0.5px);
          transform: rotate(45deg) translateX(0.5px) translateY(-0.5px);
}

.departments--open .departments__menu {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.departments--open .departments__button-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.departments__button {
  height: 100%;
  width: 230px;
  padding-top: 5px;
  padding-bottom: 5px;
}

[dir=ltr] .departments__button {
  padding-left: 43px;
  padding-right: 37px;
}

[dir=rtl] .departments__button {
  padding-right: 43px;
  padding-left: 37px;
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .departments__button {
    width: 210px;
  }
}

.departments__button-icon {
  top: calc(50% - 6px);
}

[dir=ltr] .departments__button-icon {
  left: 14px;
}

[dir=rtl] .departments__button-icon {
  right: 14px;
}

.departments__button-arrow {
  display: block;
}

.departments__arrow {
  width: 41px;
}

@media (min-width: 1400px) {
  .departments__list {
    width: 230px;
  }
  .departments__list-padding {
    height: 14px;
  }
  .departments__item-link {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  [dir=ltr] .departments__item-link {
    padding-left: 20px;
    padding-right: 29px;
  }
  [dir=rtl] .departments__item-link {
    padding-right: 20px;
    padding-left: 29px;
  }
  [dir=ltr] .departments__item-arrow {
    right: 14px;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  [dir=rtl] .departments__item-arrow {
    left: 14px;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
  .departments__megamenu {
    padding: 27px 30px 30px;
  }
  .departments__megamenu--size--xl {
    width: 1120px;
  }
  .departments__megamenu--size--lg {
    width: 902px;
  }
  .departments__megamenu--size--md {
    width: 684px;
  }
  .departments__megamenu--size--nl {
    width: 466px;
  }
  .departments__megamenu--size--sm {
    width: 248px;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .departments__list {
    width: 210px;
  }
  .departments__list-padding {
    height: 10px;
  }
  .departments__item-link {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  [dir=ltr] .departments__item-link {
    padding-left: 17px;
    padding-right: 26px;
  }
  [dir=rtl] .departments__item-link {
    padding-right: 17px;
    padding-left: 26px;
  }
  [dir=ltr] .departments__item-arrow {
    right: 11px;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  [dir=rtl] .departments__item-arrow {
    left: 11px;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
  .departments__megamenu {
    padding: 17px 20px 20px;
  }
  .departments__megamenu .row {
    margin: 0 -10px;
  }
  .departments__megamenu .col {
    padding: 0 10px;
  }
  .departments__megamenu .col-1 {
    padding: 0 10px;
  }
  .departments__megamenu .col-2 {
    padding: 0 10px;
  }
  .departments__megamenu .col-3 {
    padding: 0 10px;
  }
  .departments__megamenu .col-4 {
    padding: 0 10px;
  }
  .departments__megamenu .col-5 {
    padding: 0 10px;
  }
  .departments__megamenu .col-6 {
    padding: 0 10px;
  }
  .departments__megamenu .col-7 {
    padding: 0 10px;
  }
  .departments__megamenu .col-8 {
    padding: 0 10px;
  }
  .departments__megamenu .col-9 {
    padding: 0 10px;
  }
  .departments__megamenu .col-10 {
    padding: 0 10px;
  }
  .departments__megamenu .col-11 {
    padding: 0 10px;
  }
  .departments__megamenu .col-12 {
    padding: 0 10px;
  }
  .departments__megamenu .col-1of1 {
    padding: 0 10px;
  }
  .departments__megamenu .col-1of2 {
    padding: 0 10px;
  }
  .departments__megamenu .col-1of3 {
    padding: 0 10px;
  }
  .departments__megamenu .col-1of4 {
    padding: 0 10px;
  }
  .departments__megamenu .col-1of5 {
    padding: 0 10px;
  }
  .departments__megamenu--size--xl {
    width: 910px;
  }
  .departments__megamenu--size--lg {
    width: 732px;
  }
  .departments__megamenu--size--md {
    width: 554px;
  }
  .departments__megamenu--size--nl {
    width: 376px;
  }
  .departments__megamenu--size--sm {
    width: 198px;
  }
}

.departments__button {
  background: #333;
  color: #fff;
  font-weight: 500;
  border-radius: 0;
}

@media (-webkit-max-device-pixel-ratio: 1), (max-resolution: 1dppx) {
  .departments__button {
    font-weight: 400;
  }
}

.departments__button .departments__button-icon {
  color: #fff;
}

.departments__button .departments__button-arrow {
  color: #808080;
}

.departments__button:hover,
.departments--open .departments__button {
  background: #333;
  color: #fff;
}

.departments__button:hover .departments__button-icon,
.departments--open .departments__button .departments__button-icon {
  color: #fff;
}

.departments__button:hover .departments__button-arrow,
.departments--open .departments__button .departments__button-arrow {
  color: #808080;
}

/*
// .dropcart
*/
.dropcart {
  width: 320px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  border-radius: 1.5px;
  padding: 24px;
  color: #262626;
}

.dropcart__list {
  list-style: none;
  padding: 0;
  margin: -8px 0 0;
}

.dropcart__divider {
  height: 1px;
  background: #ebebeb;
  margin: 8px 0;
}

.dropcart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropcart__item-image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 70px;
}

.dropcart__item-info {
  padding: 4px 0 5px;
  margin: 0 10px;
}

.dropcart__item-name {
  font-size: 15px;
  line-height: 18px;
}

.dropcart__item-name a {
  color: inherit;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.dropcart__item-name a:hover {
  color: #0064f0;
}

.dropcart__item-features {
  list-style: none;
  padding: 0;
  margin-top: 2px;
  font-size: 13px;
  line-height: 17px;
  color: #6c757d;
}

.dropcart__item-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4px;
}

.dropcart__item-remove {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  border: none;
  fill: currentColor;
  background-color: #fff;
  color: #ccc;
}

.dropcart__item-remove:hover {
  background-color: #f2f2f2;
  color: #999;
}

.dropcart__item-remove:active {
  background-color: #ebebeb;
  color: #808080;
}

[dir=ltr] .dropcart__item-remove {
  margin-right: -13px;
}

[dir=rtl] .dropcart__item-remove {
  margin-left: -13px;
}

.dropcart__item-remove:focus {
  outline: none;
}

.dropcart__item-quantity,
.dropcart__item-price {
  position: relative;
  height: 16px;
  z-index: 0;
  font-size: 11px;
  padding: 1px 10.82352px 0;
}

.dropcart__item-quantity:before,
.dropcart__item-price:before {
  position: absolute;
  display: block;
  content: '';
  width: calc(100% - 5.82352px);
  height: 100%;
  top: 0;
  z-index: -1;
  border-radius: 2.5px 3px;
}

[dir=ltr] .dropcart__item-quantity:before, [dir=ltr]
.dropcart__item-price:before {
  left: 0;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

[dir=rtl] .dropcart__item-quantity:before, [dir=rtl]
.dropcart__item-price:before {
  right: 0;
  -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
}

.dropcart__item-quantity {
  color: #fff;
  font-weight: 500;
}

@media (-webkit-max-device-pixel-ratio: 1), (max-resolution: 1dppx) {
  .dropcart__item-quantity {
    font-weight: 400;
  }
}

[dir=ltr] .dropcart__item-quantity {
  padding-left: 6px;
  margin-right: -2.82352px;
}

[dir=rtl] .dropcart__item-quantity {
  padding-right: 6px;
  margin-left: -2.82352px;
}

.dropcart__item-quantity:before, .dropcart__item-quantity:after {
  background: #1a79ff;
}

.dropcart__item-quantity:after {
  position: absolute;
  display: block;
  content: '';
  width: 8.32352px;
  height: 100%;
  top: 0;
  z-index: -1;
}

[dir=ltr] .dropcart__item-quantity:after {
  left: 0;
  border-top-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
}

[dir=rtl] .dropcart__item-quantity:after {
  right: 0;
  border-top-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
}

.dropcart__item-price {
  color: #262626;
  font-weight: 500;
}

.dropcart__item-price:before {
  background: #ebebeb;
}

.dropcart__totals {
  font-size: 15px;
  margin-top: 18px;
  margin-bottom: 24px;
}

.dropcart__totals table {
  width: 100%;
}

.dropcart__totals th, .dropcart__totals td {
  padding: 0;
}

.dropcart__totals th {
  font-weight: 500;
}

[dir=ltr] .dropcart__totals td {
  text-align: right;
}

[dir=rtl] .dropcart__totals td {
  text-align: left;
}

.dropcart__totals tr + tr > * {
  padding-top: 4px;
}

.dropcart__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropcart__actions > * {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[dir=ltr] .dropcart__actions > * + * {
  margin-left: 8px;
}

[dir=rtl] .dropcart__actions > * + * {
  margin-right: 8px;
}

/*
// .header
*/
.header {
  display: grid;
  grid-template-columns: calc(100% / 2 - 1350px / 2) -webkit-min-content auto -webkit-max-content calc(100% / 2 - 1350px / 2);
  grid-template-columns: calc(100% / 2 - 1350px / 2) min-content auto max-content calc(100% / 2 - 1350px / 2);
  grid-template-rows: 34px auto auto;
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .header {
    grid-template-columns: calc(100% / 2 - 1110px / 2) -webkit-min-content auto -webkit-max-content calc(100% / 2 - 1110px / 2);
    grid-template-columns: calc(100% / 2 - 1110px / 2) min-content auto max-content calc(100% / 2 - 1110px / 2);
  }
}

.header__megamenu-area {
  grid-column: 2 / 5;
  grid-row: 1;
}

.header__topbar-classic-bg {
  grid-column: 1 / 6;
  grid-row: 1;
}

.header__topbar-classic {
  grid-column: 2 / 5;
  grid-row: 1;
}

.header__logo {
  grid-column: 2;
  grid-row: 2;
}

.header__search {
  grid-column: 3 / 3;
  grid-row: 2;
}

.header__navbar {
  grid-column: 1 / 6;
  grid-row: 3;
}

.header__indicators {
  grid-column: 4;
  grid-row: 2;
}

.header {
  position: relative;
  z-index: 10;
}

@media (max-width: 1199.98px) {
  .header {
    display: none;
  }
}

.header__navbar {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  min-width: 230px;
}

[dir=ltr] .header__logo {
  margin-right: 24px;
}

[dir=rtl] .header__logo {
  margin-left: 24px;
}

.header__logo .logo__image {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .header__logo {
    min-width: 210px;
  }
}

.header__navbar {
  padding: 7px calc((100% - 1350px) / 2);
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .header__navbar {
    padding: 7px calc((100% - 1110px) / 2);
  }
}

.header__navbar-menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
}

.header__navbar-departments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

[dir=ltr] .header__navbar-departments {
  margin-right: 24px;
}

[dir=rtl] .header__navbar-departments {
  margin-left: 24px;
}

.header__navbar-departments {
  position: relative;
}

.header__navbar-departments:after {
  display: block;
  position: absolute;
  content: '';
  background: transparent;
  width: 1px;
  height: 100%;
  top: 0;
}

[dir=ltr] .header__navbar-departments:after {
  right: -12px;
}

[dir=rtl] .header__navbar-departments:after {
  left: -12px;
}

.header__navbar-phone {
  height: 100%;
}

.header__search {
  -ms-flex-item-align: center;
      align-self: center;
}

[dir=ltr] .header__search {
  margin-right: 24px;
}

[dir=rtl] .header__search {
  margin-left: 24px;
}

.header__indicators {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px 0;
}

[dir=ltr] .header__indicators .indicator + .indicator {
  margin-left: 4px;
}

[dir=rtl] .header__indicators .indicator + .indicator {
  margin-right: 4px;
}

.header {
  background: #fff;
  color: #262626;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
}

.header__topbar-classic-bg {
  background: #333;
}

.header__navbar {
  height: 52px;
  background: #1a79ff;
  color: #fff;
}

.header__navbar {
  height: 46px;
  padding-top: 0;
  padding-bottom: 0;
}

/*
// .indicator
*/
.indicator {
  position: relative;
}

.indicator__button {
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 54px;
  min-width: 54px;
  color: inherit;
  border-radius: 2px;
  background: transparent;
  border: none;
}

[dir=ltr] .indicator__button {
  padding-right: 12px;
}

[dir=rtl] .indicator__button {
  padding-left: 12px;
}

.indicator__button:focus {
  outline: none;
}

.indicator__button:hover {
  color: inherit;
  text-decoration: none;
}

.indicator__icon {
  position: absolute;
  padding: 8px;
  display: block;
  width: 48px;
  height: 48px;
}

.indicator__icon svg {
  display: block;
}

[dir=ltr] .indicator__icon svg {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

[dir=rtl] .indicator__icon svg {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.indicator__counter {
  position: absolute;
  top: 5px;
  font-size: 10px;
  line-height: 1;
  padding: 2px 3px 1px;
  border-radius: 6.5px;
  text-align: center;
  z-index: 0;
}

[dir=ltr] .indicator__counter {
  right: 4px;
}

[dir=rtl] .indicator__counter {
  left: 4px;
}

.indicator__counter:before {
  display: block;
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 2.5px;
}

[dir=ltr] .indicator__counter:before {
  left: 0;
  right: 0;
  -webkit-transform: skewX(-11deg);
          transform: skewX(-11deg);
}

[dir=rtl] .indicator__counter:before {
  right: 0;
  left: 0;
  -webkit-transform: skewX(11deg);
          transform: skewX(11deg);
}

.indicator__title,
.indicator__value {
  display: block;
}

[dir=ltr] .indicator__title, [dir=ltr]
.indicator__value {
  margin-left: 50px;
}

[dir=rtl] .indicator__title, [dir=rtl]
.indicator__value {
  margin-right: 50px;
}

.indicator__title {
  padding-top: 3px;
  margin-bottom: -3px;
  font-size: 13px;
}

.indicator__value {
  font-size: 18px;
  font-weight: 500;
}

.indicator__content {
  top: 100%;
  position: absolute;
  visibility: hidden;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(60deg);
          transform: rotateX(60deg);
  opacity: 0;
  -webkit-transition: opacity 0.2s, visibility 0s 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, visibility 0s 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s, -webkit-transform 0.2s;
}

[dir=ltr] .indicator__content {
  right: 0;
}

[dir=rtl] .indicator__content {
  left: 0;
}

/*
// .indicator--trigger--click.indicator--open,
// .indicator--trigger--hover:hover
*/
.indicator--trigger--click.indicator--open .indicator__content,
.indicator--trigger--hover:hover .indicator__content {
  z-index: 1;
  -webkit-transition-delay: 0s, 0s, 0s;
          transition-delay: 0s, 0s, 0s;
  opacity: 1;
  visibility: visible;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.indicator--mobile .indicator__button {
  padding: 0 0 2px;
  height: 50px;
  width: 44px;
  min-width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0;
}

.indicator--mobile .indicator__icon {
  padding: 0;
  position: relative;
  height: auto;
  width: auto;
}

.indicator--mobile .indicator__counter {
  top: -7px;
}

[dir=ltr] .indicator--mobile .indicator__counter {
  right: -7px;
}

[dir=rtl] .indicator--mobile .indicator__counter {
  left: -7px;
}

.indicator__icon {
  fill: #262626;
}

.indicator__title {
  color: #999;
}

.indicator__value {
  font-weight: 500;
}

.indicator:hover .indicator__button,
.indicator--open .indicator__button {
  background: #f2f2f2;
}

.indicator__counter {
  color: #fff;
  font-weight: 500;
}

@media (-webkit-max-device-pixel-ratio: 1), (max-resolution: 1dppx) {
  .indicator__counter {
    font-weight: 400;
  }
}

.indicator__counter:before {
  background-color: #1a79ff;
}

/*
// .logo
*/
.logo__slogan {
  padding-top: 11px;
  font-size: 11px;
  line-height: 1;
  text-transform: uppercase;
}

.logo__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.logo__image {
  height: 100%;
}

.logo__slogan {
  display: none;
}

.logo__part-primary {
  fill: #1a79ff;
}

.logo__part-secondary {
  fill: #404040;
}

/*
// .main-menu
*/
.main-menu {
  height: 100%;
}

.main-menu__list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.main-menu__link {
  display: block;
  padding: 5px 11px;
  border-radius: 2px;
  color: inherit;
  white-space: nowrap;
  font-size: 15px;
}

.main-menu__link:hover {
  color: inherit;
}

.main-menu__submenu {
  color: #262626;
}

.main-menu__item--has-submenu .main-menu__link {
  position: relative;
}

[dir=ltr] .main-menu__item--has-submenu .main-menu__link {
  padding-right: 23px;
}

[dir=rtl] .main-menu__item--has-submenu .main-menu__link {
  padding-left: 23px;
}

.main-menu__item--has-submenu .main-menu__link svg {
  top: 14px;
  position: absolute;
  fill: currentColor;
}

[dir=ltr] .main-menu__item--has-submenu .main-menu__link svg {
  right: 10px;
}

[dir=rtl] .main-menu__item--has-submenu .main-menu__link svg {
  left: 10px;
}

.main-menu__item--submenu--menu {
  position: relative;
}

.main-menu__item--submenu--menu .main-menu__submenu {
  position: absolute;
  z-index: 1;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(45deg);
          transform: rotateX(45deg);
  -webkit-transition: opacity .2s,
 -webkit-transform .2s;
  transition: opacity .2s,
 -webkit-transform .2s;
  transition: transform .2s,
 opacity .2s;
  transition: transform .2s,
 opacity .2s,
 -webkit-transform .2s;
}

[dir=ltr] .main-menu__item--submenu--menu .main-menu__submenu {
  left: 0;
}

[dir=rtl] .main-menu__item--submenu--menu .main-menu__submenu {
  right: 0;
}

.main-menu__item--submenu--menu:hover .main-menu__submenu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

.main-menu__item--submenu--megamenu .main-menu__submenu {
  position: absolute;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(45deg);
          transform: rotateX(45deg);
  -webkit-transition: opacity .2s,
 -webkit-transform .2s;
  transition: opacity .2s,
 -webkit-transform .2s;
  transition: transform .2s,
 opacity .2s;
  transition: transform .2s,
 opacity .2s,
 -webkit-transform .2s;
}

.main-menu__item--submenu--megamenu:hover .main-menu__submenu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

.main-menu__megamenu {
  padding: 26px 30px 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1400px) {
  .main-menu__megamenu--size--xxl {
    width: calc((1350px - 30px) / 6 * 6 + 30px);
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .main-menu__megamenu--size--xxl {
    width: calc((1110px - 30px) / 6 * 6 + 30px);
  }
}

@media (min-width: 1400px) {
  .main-menu__megamenu--size--xl {
    width: calc((1350px - 30px) / 6 * 5 + 30px);
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .main-menu__megamenu--size--xl {
    width: calc((1110px - 30px) / 6 * 5 + 30px);
  }
}

@media (min-width: 1400px) {
  .main-menu__megamenu--size--lg {
    width: calc((1350px - 30px) / 6 * 4 + 30px);
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .main-menu__megamenu--size--lg {
    width: calc((1110px - 30px) / 6 * 4 + 30px);
  }
}

@media (min-width: 1400px) {
  .main-menu__megamenu--size--md {
    width: calc((1350px - 30px) / 6 * 3 + 30px);
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .main-menu__megamenu--size--md {
    width: calc((1110px - 30px) / 6 * 3 + 30px);
  }
}

@media (min-width: 1400px) {
  .main-menu__megamenu--size--nl {
    width: calc((1350px - 30px) / 6 * 2 + 30px);
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .main-menu__megamenu--size--nl {
    width: calc((1110px - 30px) / 6 * 2 + 30px);
  }
}

@media (min-width: 1400px) {
  .main-menu__megamenu--size--sm {
    width: calc((1350px - 30px) / 6 * 1 + 30px);
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .main-menu__megamenu--size--sm {
    width: calc((1110px - 30px) / 6 * 1 + 30px);
  }
}

.main-menu__link {
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-menu__item--has-submenu .main-menu__link svg {
  top: calc(50% - 2px);
}

.main-menu .main-menu__link {
  font-weight: 500;
}

@media (-webkit-max-device-pixel-ratio: 1), (max-resolution: 1dppx) {
  .main-menu .main-menu__link {
    font-weight: 400;
  }
}

.main-menu .main-menu__item--has-submenu .main-menu__link svg {
  color: rgba(0, 0, 0, 0.25);
}

.main-menu .main-menu__item:hover .main-menu__link {
  background-color: rgba(0, 0, 0, 0.15);
}

.main-menu__link {
  border-radius: 0;
}

/*
// .megamenu
*/
.megamenu {
  position: relative;
}

.megamenu__image {
  position: absolute;
  bottom: 0;
}

[dir=ltr] .megamenu__image {
  right: 0;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

[dir=rtl] .megamenu__image {
  left: 0;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.megamenu__image img,
.megamenu__image picture {
  display: block;
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .megamenu__image {
    -webkit-transform: scale(0.81);
            transform: scale(0.81);
  }
}

/*
// .megamenu-links
*/
.megamenu-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.megamenu-links__item {
  line-height: 18px;
}

.megamenu-links__item + .megamenu-links__item {
  margin-top: 10px;
}

.megamenu-links__item--has-submenu + .megamenu-links__item {
  margin-top: 24px;
}

.megamenu-links__item-link {
  font-size: 16px;
  color: inherit;
  -webkit-transition: color .15s;
  transition: color .15s;
  font-weight: 500;
}

.megamenu-links__item-link:hover {
  color: #0064f0;
}

.megamenu-links__item-link + .megamenu-links {
  border-top: 1px solid #ebebeb;
  padding-top: 12px;
  margin-top: 5px;
}

.megamenu-links:not(.megamenu-links--root) .megamenu-links__item {
  line-height: 16px;
}

.megamenu-links:not(.megamenu-links--root) .megamenu-links__item + .megamenu-links__item {
  margin-top: 9px;
}

.megamenu-links:not(.megamenu-links--root) .megamenu-links__item-link {
  font-weight: 400;
  font-size: 14px;
  color: #6c757d;
}

.megamenu-links:not(.megamenu-links--root) .megamenu-links__item-link:hover {
  color: #0064f0;
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .megamenu-links__item-link {
    font-size: 15px;
  }
}

/*
// .menu
*/
.menu {
  color: #262626;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  list-style: none;
  margin: 0;
  padding: 8px 0;
  width: 200px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
}

.menu__submenu {
  position: absolute;
  top: -8px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

[dir=ltr] .menu__submenu {
  left: 100%;
}

[dir=rtl] .menu__submenu {
  right: 100%;
}

.menu__link {
  display: block;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

[dir=ltr] .menu__link {
  padding-left: 16px;
  padding-right: 28px;
}

[dir=rtl] .menu__link {
  padding-right: 16px;
  padding-left: 28px;
}

.menu__link, .menu__link:hover {
  color: inherit;
}

.menu__arrow {
  fill: #bfbfbf;
  position: absolute;
  top: calc(50% - 5px);
}

[dir=ltr] .menu__arrow {
  right: 14px;
}

[dir=rtl] .menu__arrow {
  left: 14px;
}

.menu__arrow svg {
  display: block;
}

[dir=ltr] .menu__arrow svg {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

[dir=rtl] .menu__arrow svg {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.menu__item:hover > .menu__link {
  background: #f2f2f2;
}

.menu__item:hover > .menu__submenu {
  opacity: 1;
  visibility: visible;
}

.menu__item--has-submenu {
  position: relative;
}

/*
// .phone
*/
.phone__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
  line-height: 1;
  height: 100%;
  padding: 4px 11px;
  border-radius: 2px;
  -webkit-transition: background .12s;
  transition: background .12s;
  font-size: 17px;
}

.phone__body:hover {
  color: inherit;
}

.phone__title {
  font-size: 15px;
  margin-top: 1px;
}

[dir=ltr] .phone__title {
  margin-right: 5px;
}

[dir=rtl] .phone__title {
  margin-left: 5px;
}

.phone__body:hover {
  background: rgba(0, 0, 0, 0.15);
}

.phone__title {
  color: #cce3ff;
}

.phone__number {
  font-weight: 500;
}

@media (-webkit-max-device-pixel-ratio: 1), (max-resolution: 1dppx) {
  .phone__number {
    font-weight: 400;
  }
}

.phone__body {
  border-radius: 0;
}

/*
// .search
*/
.search__dropdown {
  color: #262626;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 100%;
  border-radius: 1.5px;
  opacity: 0;
  -webkit-transform: translateY(26px);
          transform: translateY(26px);
  visibility: hidden;
  -webkit-transition: opacity 0.25s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0s 0.25s, -webkit-transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.25s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0s 0.25s, -webkit-transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.25s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0s 0.25s;
  transition: opacity 0.25s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0s 0.25s, -webkit-transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

[dir=ltr] .search__dropdown {
  left: 0;
  right: 0;
}

[dir=rtl] .search__dropdown {
  right: 0;
  left: 0;
}

.search__dropdown--open {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.search__button-icon svg {
  display: block;
}

.search__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 0;
  position: relative;
  max-width: 560px;
  height: 38px;
}

.search__input,
.search__button {
  background: transparent;
  border: none;
  font-family: inherit;
  padding: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.search__input:focus,
.search__button:focus {
  outline: none;
}

.search__button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 2px solid transparent;
  fill: currentColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 9px;
  white-space: nowrap;
}

.search__button-icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.search__button-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  margin-top: 1px;
}

[dir=ltr] .search__button-title {
  margin-left: 9px;
}

[dir=rtl] .search__button-title {
  margin-right: 9px;
}

.search__input {
  color: #262626;
  background-color: #ededed;
  border-color: #ededed;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 15px;
  padding-top: 0;
  padding-bottom: 0;
  border-width: 1px;
  border-style: solid;
  border-radius: 2.5px;
  -webkit-transition: background-color .2s,
 border-color .2s,
 color .2s;
  transition: background-color .2s,
 border-color .2s,
 color .2s;
}

.search__input::-webkit-input-placeholder {
  color: #6c757d;
}

.search__input::-moz-placeholder {
  color: #6c757d;
}

.search__input:-ms-input-placeholder {
  color: #6c757d;
}

.search__input::-ms-input-placeholder {
  color: #6c757d;
}

.search__input::placeholder {
  color: #6c757d;
}

[dir=ltr] .search__input {
  padding-left: 13px;
  padding-right: 37px;
}

[dir=rtl] .search__input {
  padding-right: 13px;
  padding-left: 37px;
}

.search__input:hover {
  border-color: #e0e0e0;
}

.search__input:focus {
  background-color: #fff;
  border-color: #e5e5e5;
}

.search__button--start {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  padding-top: 0;
  padding-bottom: 0;
  border: 1px solid transparent;
  background-repeat: no-repeat;
  background-size: 5px 10px;
  border-radius: 2.5px;
  -webkit-transition: color .15s,
 background-color .15s;
  transition: color .15s,
 background-color .15s;
  background-color: #ffdf40;
  color: #262626;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 5 10'%3E%3Cpath fill='rgba(0, 0, 0, 0.35)' d='M4.503,4 L0.497,4 C0.094,4 -0.142,3.492 0.089,3.122 L2.095,0.233 C2.293,-0.084 2.712,-0.084 2.911,0.233 L4.911,3.122 C5.142,3.492 4.906,4 4.503,4 ZM0.497,6 L4.503,6 C4.906,6 5.142,6.504 4.911,6.871 L2.905,9.737 C2.707,10.052 2.288,10.052 2.089,9.737 L0.089,6.871 C-0.142,6.504 0.094,6 0.497,6 Z'/%3E%3C/svg%3E%0A");
}

.search__button--start .search__button-icon {
  fill: rgba(0, 0, 0, 0.75);
}

[dir=ltr] .search__button--start {
  padding-left: 12px;
  padding-right: 27px;
  margin-right: 5px;
  background-position: right 12px center;
}

[dir=rtl] .search__button--start {
  padding-right: 12px;
  padding-left: 27px;
  margin-left: 5px;
  background-position: left 12px center;
}

.search__button--start:hover {
  background-color: #ffd226;
}

.search__button--start:active {
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
  background-color: #ffca16;
}

.search__button--end {
  -webkit-transition: color .2s;
  transition: color .2s;
  position: absolute;
  height: 38px;
  width: 38px;
  border: none;
  color: #b2b2b2;
}

[dir=ltr] .search__button--end {
  right: 0;
}

[dir=rtl] .search__button--end {
  left: 0;
}

.search__button--end:hover {
  color: #404040;
}

.search__dropdown--vehicle-picker {
  max-width: 440px;
}

.search__dropdown-arrow {
  position: absolute;
  width: 46px;
  height: 21px;
  pointer-events: none;
  bottom: 100%;
  overflow: hidden;
}

.search__dropdown-arrow:before {
  position: absolute;
  display: block;
  content: '';
  width: 7px;
  height: 7px;
  top: 100%;
  margin-top: -3.5px;
  background-color: #fff;
  border-radius: 1px;
}

[dir=ltr] .search__dropdown-arrow:before {
  left: 50%;
  margin-left: -3.5px;
  -webkit-transform: rotate(45deg) translateX(-0.5px) translateY(-0.5px);
          transform: rotate(45deg) translateX(-0.5px) translateY(-0.5px);
}

[dir=rtl] .search__dropdown-arrow:before {
  right: 50%;
  margin-right: -3.5px;
  -webkit-transform: rotate(45deg) translateX(0.5px) translateY(-0.5px);
          transform: rotate(45deg) translateX(0.5px) translateY(-0.5px);
}

.search__input {
  color: #262626;
  background-color: #ededed;
  border-color: #ededed;
}

.search__input::-webkit-input-placeholder {
  color: #6c757d;
}

.search__input::-moz-placeholder {
  color: #6c757d;
}

.search__input:-ms-input-placeholder {
  color: #6c757d;
}

.search__input::-ms-input-placeholder {
  color: #6c757d;
}

.search__input::placeholder {
  color: #6c757d;
}

.search__input:hover {
  border-color: #e0e0e0;
}

.search__input:focus {
  background-color: #fff;
  border-color: #e5e5e5;
}

.search__button--end {
  color: #b2b2b2;
}

.search__button--end:hover {
  color: #404040;
}

/*
// .suggestions
*/
.suggestions {
  padding: 14px 0;
}

.suggestions__group + .suggestions__group {
  margin-top: 10px;
}

.suggestions__group-title {
  padding: 3px 20px 3px;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  color: #999;
}

.suggestions__category {
  display: block;
  padding: 6px 20px;
  color: inherit;
  font-size: 15px;
  line-height: 17px;
}

.suggestions__category:hover {
  color: inherit;
  background: #f2f2f2;
}

.suggestions__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 20px;
  color: inherit;
}

.suggestions__product:hover {
  color: inherit;
  background: #f2f2f2;
}

.suggestions__product-image {
  position: relative;
  border-radius: 1px;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 40px;
  background: #fff;
}

[dir=ltr] .suggestions__product-image {
  margin-right: 10px;
}

[dir=rtl] .suggestions__product-image {
  margin-left: 10px;
}

.suggestions__product-image:before {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: inherit;
  pointer-events: none;
  z-index: 1;
}

.suggestions__product-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding-top: 4px;
  min-width: 0;
}

.suggestions__product-name {
  font-size: 15px;
  line-height: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.suggestions__product-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2px;
}

[dir=ltr] .suggestions__product-rating-stars {
  margin-right: 8px;
}

[dir=rtl] .suggestions__product-rating-stars {
  margin-left: 8px;
}

.suggestions__product-rating-label {
  font-size: 13px;
  line-height: 1;
  color: #6c757d;
}

.suggestions__product-price {
  white-space: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 13px;
  font-weight: 700;
  padding-top: 3px;
  width: 70px;
}

[dir=ltr] .suggestions__product-price {
  margin-left: 14px;
  text-align: right;
}

[dir=rtl] .suggestions__product-price {
  margin-right: 14px;
  text-align: left;
}

/*
// .topbar
*/
.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  font-size: 14px;
  line-height: 1;
}

.topbar__item-spring {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.topbar__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.topbar__link {
  -webkit-transition: color .12s;
  transition: color .12s;
}

.topbar__link-label {
  -webkit-transition: inherit;
  transition: inherit;
}

.topbar__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: transparent;
  font-family: inherit;
  border: none;
  padding: 0 10px;
  -webkit-transition: background .12s;
  transition: background .12s;
  height: 100%;
}

.topbar__button:focus {
  outline: none;
}

.topbar__button-title,
.topbar__button-label {
  -webkit-transition: color .12s;
  transition: color .12s;
}

[dir=ltr] .topbar__button-label {
  margin-right: 3px;
}

[dir=rtl] .topbar__button-label {
  margin-left: 3px;
}

[dir=ltr] .topbar__button--has-arrow {
  padding-right: 18px;
  padding-right: 22px;
}

[dir=rtl] .topbar__button--has-arrow {
  padding-left: 18px;
  padding-left: 22px;
}

.topbar__button-arrow {
  position: absolute;
  fill: currentColor;
  top: calc(50% - 3px);
}

[dir=ltr] .topbar__button-arrow {
  right: 8px;
  right: 10px;
}

[dir=rtl] .topbar__button-arrow {
  left: 8px;
  left: 10px;
}

.topbar__button-arrow svg {
  display: block;
}

.topbar__menu {
  position: relative;
}

.topbar__menu-body {
  visibility: hidden;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(60deg);
          transform: rotateX(60deg);
  opacity: 0;
  -webkit-transition: opacity 0.2s, visibility 0s 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, visibility 0s 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s, -webkit-transform 0.2s;
}

.topbar__menu-body {
  color: #262626;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 150px;
  padding: .5rem 0;
  font-size: 14px;
  line-height: 26px;
  z-index: 1;
  font-weight: 500;
}

[dir=ltr] .topbar__menu-body {
  right: 0;
}

[dir=rtl] .topbar__menu-body {
  left: 0;
}

.topbar__menu-item {
  display: block;
  padding: 3px 1rem;
  color: #262626;
}

.topbar__menu-item:hover {
  color: #262626;
  background: #f2f2f2;
}

[dir=ltr] .topbar__menu-item img {
  margin-right: 8px;
}

[dir=rtl] .topbar__menu-item img {
  margin-left: 8px;
}

.topbar__menu-item span {
  position: relative;
  top: 1px;
}

.topbar__menu--open .topbar__menu-body {
  visibility: visible;
  -webkit-transition-delay: 0s, 0s, 0s;
          transition-delay: 0s, 0s, 0s;
  opacity: 1;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.topbar--spaceship-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.topbar--classic {
  background: #333;
}

.topbar--classic .topbar__item-text {
  color: #fff;
  font-weight: 500;
}

@media (-webkit-max-device-pixel-ratio: 1), (max-resolution: 1dppx) {
  .topbar--classic .topbar__item-text {
    font-weight: 400;
  }
}

.topbar--classic .topbar__link {
  color: #9e9e9e;
  font-weight: 400;
}

.topbar--classic .topbar__link:hover {
  color: #fff;
}

.topbar--classic .topbar__button-label {
  color: #9e9e9e;
  font-weight: 400;
}

.topbar--classic .topbar__button-title {
  color: #fff;
  font-weight: 500;
}

@media (-webkit-max-device-pixel-ratio: 1), (max-resolution: 1dppx) {
  .topbar--classic .topbar__button-title {
    font-weight: 400;
  }
}

.topbar--classic .topbar__button-arrow {
  color: #808080;
}

.topbar--classic .topbar__menu--open .topbar__menu-button,
.topbar--classic .topbar__button:hover {
  background: rgba(255, 255, 255, 0.08);
}

.topbar--classic .topbar__menu--open .topbar__menu-button .topbar__button-label,
.topbar--classic .topbar__button:hover .topbar__button-label {
  color: #fff;
}

/*
// .vehicle-picker
*/
.vehicle-picker__panel {
  display: none;
}

.vehicle-picker__panel--active {
  display: block;
}

.vehicle-picker__panel-body {
  padding: 20px 20px 28px;
}

.vehicle-picker__text {
  font-size: 15px;
  color: #6c757d;
  margin-bottom: 8px;
}

.vehicle-picker__text:first-child {
  margin-top: -5px;
}

.vehicle-picker__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 32px;
}

[dir=ltr] .vehicle-picker__actions > * + * {
  margin-left: 20px;
}

[dir=rtl] .vehicle-picker__actions > * + * {
  margin-right: 20px;
}

.search__car-selector-link a {
  font-size: 14px;
  color: #999;
}

.search__car-selector-link a:hover {
  text-decoration: underline;
}

/* ----------------------------------------
// Pages
// ---------------------------------------- */
/*
// .about
*/
/* ----------------------------------------
// Blocks
// ---------------------------------------- */
/*
// .block-header
*/
/*
// .block-space
*/
.block-space--layout--spaceship-ledge-height {
  display: none;
}

/* ----------------------------------------
// Blog
// ---------------------------------------- */
/*
// .post-header
*/
