.block-header__breadcrumb {
  padding-top: 16px;
  padding-bottom: 16px !important;
}


a.logo {
  font-size: 28px !important;
  font-weight: 700;
}


.block-categories__body {
  position: relative;
  background-color: #f6f6f6;
  padding: 46px 0 44px;
}

.block-sale__body {
  padding-top: 60px;
  padding-bottom: 60px;
}

.author {
  color: #999;
}

.post-header__body {
  max-width: 100%;
}

.logo__slogan {

  /*display: block  !important;*/
  /*visibility: visible !important;*/

}

a .logo {
  display: block;
  margin-right: 30px;

}

.cart-added {

  background-color: #262626 !important;
}

.hide {

  display: none !important;
}

.cart-open {

  color: #fff;
}


.product-card__addtocart-full.cart-open {

  background-color: #262626 !important;
}

.product-card__addtocart-icon.cart-open {

  top: -2px;
  left: -2px;
  display: block;
  content: '';
  position: absolute;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: transparent;
  z-index: 1;
  border-radius: 50%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: background .2s, -webkit-transform .2s;
  transition: background .2s, -webkit-transform .2s;
  transition: transform .2s, background .2s;
  transition: transform .2s, background .2s, -webkit-transform .2s;
}


.toast.toast-success {

  background-color: #e5e5e5 !important;
}

.toast-message {

  color: #000000 !important;
}


.in-favorite {

  background: #d9d9d9 !important;
  fill: #cb1818 !important;
}

.has-error input {

  border-color: #cb1818 !important;
}

.help-block {

  color: #cb1818;
  font-size: 14px;
  font-weight: normal !important;
}

.form-group .help-block {

  color: #e52727 !important;
}

.block-products-carousel .owl-item {

  min-width: 250px !important;
}

.icon-cart-add {

  font-size: 18px;
  color: #efefef;
  cursor: pointer;
}

.icon-cart-add i.in-cart {

  color: #262626;
}

.icon-cart-add i:hover {

  color: #e52727;
}

.megamenu-links__item-link + .megamenu-links {
  border-top: 0px !important;
}

.input-radio-color span {
  -webkit-box-shadow: inset 0 0 0 2px #ccc;
  box-shadow: inset 0 0 0 2px #ccc;
}

.input-radio-color span:after {
  -webkit-box-shadow: inset 0 0 0 2px #ccc;
  box-shadow: inset 0 0 0 2px #ccc;
}

.color-border-fill {

  border: 6px solid #e52727;
}


.input-radio-label__title {

  padding: 2px 12px 0px !important;
}

.cart-open {

  margin-top: 0px !important;
  background-color: #262626 !important;
}

.cart-hide {

  display: none;
}

.checkout-total {

  width: 120px;

}

.form-control + .select2-container .select2-selection__rendered {
  line-height: 19px;
  padding: calc(8px / 2) 0px !important;
  font-size: 16px;
}

.select2-search--dropdown {

  padding: 5px !important;
}

.delivery-tariff {

  margin-left: 0px !important;
  cursor: pointer;
}

.display-none {

  display: none;
}

.widget-categories {

  margin-top: 0px !important;
}

.block-products-carousel__column .cart-open {

  background: none !important;
}

.block-products-carousel__column .in-cart {

  color: #000 !important;
  margin-top: 0px !important;
}

.departments__body {

  padding-bottom: 10px;
}

.product-gallery__thumbnails {

  margin-top: 10px;
}

.blog-view__item.blog-view__item-sidebar {

  width: 270px !important;
}

.departments__button-arrow {

  color: #ffffff !important;
}

.image__tag.item {

  margin-left: 13% !important;
  width: 70% !important;
}

.category-sup {

  font-size: 10px !important;
  color: #aaaaaa !important;
  padding-left: 2px;
}
